<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <title>Privacy Policy | Blitz Budget</title>
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="At BlitzBudget, we respect your privacy and are committed to protecting it. Every company has a privacy policy, but when it comes right down to it, we want you to understand how we protect your privacy and to know what data we collect and how we use it. So let’s get to it.">
    <meta property="og:url" content="https://www.blitzbudget.com/zh/privacy">
    <meta property="og:site_name" content="Blitz Budget">
    <meta property="article:publisher" content="https://www.blitzbudget.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="blitzbudget">
    <meta name="twitter:domain" content="Blitz Budget">
    <meta name="twitter:title" content="Privacy Policy">
    <meta name="twitter:description" content="At BlitzBudget, we respect your privacy and are committed to protecting it. Every company has a privacy policy, but when it comes right down to it, we want you to understand how we protect your privacy and to know what data we collect and how we use it. So let’s get to it.">
    <meta name="twitter:url" content="https://www.blitzbudget.com/zh/privacy">

    <meta name="description" content="At BlitzBudget, we respect your privacy and are committed to protecting it. Every company has a privacy policy, but when it comes right down to it, we want you to understand how we protect your privacy and to know what data we collect and how we use it. So let’s get to it.">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="https://www.blitzbudget.com/zh/privacy">
    <link rel="shortcut icon" type="image/x-icon" sizes="64x64" href="img/business-name/favicon-business-name.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Didact+Gothic:300,400,500,700|Material+Icons" />

    <!-- CSS Files -->
    <link rel="stylesheet preload" href="/css/others.all.min.css" />
    <!--   Core JS Files   -->
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script defer nonce="2726d7e26r" src="/js/core-others.min.js" type="text/javascript"></script>
</head>

<body>
    <!-- Navigation -->
    <div class="navBarWrapper">
        <nav role="navigation" class="expandedNavigationBar">
            <div class="navigationBar">
                <a class="logoHeader" href="/">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1472 325.89334" height="50" width="150" xml:space="preserve" id="svg2" version="1.1">
                        <metadata id="metadata8">
                            <rdf:RDF>
                                <cc:Work rdf:about="">
                                    <dc:format>image/svg+xml</dc:format>
                                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                </cc:Work>
                            </rdf:RDF>
                        </metadata>
                        <defs id="defs6" />
                        <g transform="matrix(1.3333333,0,0,-1.3333333,0,325.89333)" id="g10">
                            <g transform="scale(0.1)" id="g12">
                                <path id="path14" d="m 3571.24,1002.66 c 28.4,19.18 42.56,48.77 42.56,88.78 0,40.09 -14.16,69.53 -42.56,88.49 -28.39,18.89 -70.2,28.4 -125.35,28.4 H 3234.16 V 973.82 h 211.73 c 55.15,0 96.96,9.59 125.35,28.84 z m -337.08,467.68 v -226.35 h 193.9 c 49.75,0 88.04,9.59 114.79,28.78 26.74,19.25 40.15,47.5 40.15,84.81 0,36.79 -13.41,64.74 -40.15,83.92 -26.75,19.25 -65.04,28.84 -114.79,28.84 z m 389,-287.19 c 21.36,-24.34 32.07,-55.96 32.07,-94.93 0,-48.1 -17.6,-85.19 -52.74,-111.111 -35.15,-26 -87.37,-38.961 -156.6,-38.961 h -253.1 v 567.862 h 236.92 c 61.66,0 109.61,-12.59 143.93,-37.69 34.39,-25.18 51.55,-60.99 51.55,-107.52 0,-32.44 -8.54,-59.79 -25.55,-81.89 -17.01,-22.18 -40.16,-38.14 -69.38,-47.88 40.61,-7.57 71.55,-23.52 92.9,-47.88" />
                                <path id="path16" d="m 4005.66,1506.01 h 41.36 V 975.469 h 326.97 v -37.321 h -368.33 v 567.862" />
                                <path id="path18" d="m 4683.06,1506.01 h 41.35 V 938.148 h -41.35 v 567.862" />
                                <path id="path20" d="m 5233.91,1468.7 h -204.48 v 37.31 h 450.3 V 1468.7 H 5275.26 V 938.148 h -41.35 V 1468.7" />
                                <path id="path22" d="m 6181.48,975.469 v -37.321 h -457.56 v 29.223 l 391.85,501.329 h -386.98 v 37.31 h 443.78 v -29.22 L 5781.53,975.469 h 399.95" />
                                <path id="path24" d="m 6847.49,1111.75 c 0,38.43 -28.17,57.62 -84.36,57.62 h -134.72 v -115.24 h 134.72 c 56.19,0 84.36,19.19 84.36,57.62 z m -219.08,278.27 v -109.54 h 110.37 c 54.01,0 81.06,18.43 81.06,55.22 0,36.19 -27.05,54.32 -81.06,54.32 z m 353.72,-208.89 c 18.36,-24.05 27.58,-53.12 27.58,-87.22 0,-49.74 -20.01,-88.18 -60.02,-115.23 -40.01,-27.039 -97.93,-40.532 -173.61,-40.532 h -306.66 v 567.862 h 290.4 c 72.47,0 127.68,-13.34 165.52,-40.16 37.83,-26.75 56.79,-62.86 56.79,-108.27 0,-27.05 -6.67,-51.25 -19.85,-72.6 -13.27,-21.35 -32.07,-38.29 -56.42,-50.72 32.44,-11.4 57.84,-29.08 76.27,-53.13" />
                                <path id="path26" d="m 7361.41,995.77 c -46.84,45.93 -70.21,111.11 -70.21,195.48 v 314.76 h 160.64 v -309.89 c 0,-90.89 35.96,-136.29 107.89,-136.29 71.4,0 107.07,45.4 107.07,136.29 v 309.89 h 158.16 v -314.76 c 0,-84.37 -23.37,-149.55 -70.13,-195.48 -46.82,-46.008 -112.38,-69 -196.75,-69 -84.37,0 -149.93,22.992 -196.67,69" />
                                <path id="path28" d="m 8398.59,1066.35 c 48.7,0 87.74,13.78 117.26,41.35 29.44,27.58 44.21,65.72 44.21,114.42 0,48.62 -14.77,86.76 -44.21,114.33 -29.52,27.57 -68.56,41.43 -117.26,41.43 h -101.37 v -311.53 z m -262.01,439.66 h 268.53 c 62.18,0 117.33,-11.62 165.51,-34.85 48.1,-23.3 85.42,-56.26 111.94,-98.97 26.44,-42.78 39.71,-92.76 39.71,-150.07 0,-57.4 -13.27,-107.38 -39.71,-150.08 -26.52,-42.78 -63.84,-75.751 -111.94,-98.981 -48.18,-23.297 -103.33,-34.911 -165.51,-34.911 h -268.53 v 567.862" />
                                <path id="path30" d="M 9389.92,1234.26 H 9531.9 V 998.988 c -32.44,-23.226 -69.75,-41.129 -111.93,-53.566 -42.19,-12.442 -84.36,-18.652 -126.55,-18.652 -59.56,0 -113.06,12.57 -160.64,37.75 -47.65,25.171 -84.97,60.17 -111.94,105.05 -27.12,44.88 -40.61,95.75 -40.61,152.55 0,56.79 13.49,107.59 40.61,152.47 26.97,44.88 64.59,79.95 112.76,105.04 48.11,25.18 102.43,37.76 163.04,37.76 52.98,0 100.55,-8.91 142.81,-26.74 42.18,-17.91 77.33,-43.61 105.42,-77.1 l -102.19,-92.46 c -38.44,42.18 -84.37,63.24 -137.94,63.24 -48.63,0 -87.89,-14.76 -117.64,-44.21 -29.75,-29.44 -44.58,-68.85 -44.58,-118 0,-31.4 6.75,-59.42 20.23,-84 13.56,-24.65 32.45,-43.83 56.79,-57.61 24.36,-13.79 52.23,-20.68 83.62,-20.68 30.8,0 59.72,6.21 86.76,18.65 v 155.78" />
                                <path id="path32" d="M 10292.9,1062.3 V 938.148 h -455.98 v 567.862 h 445.38 v -124.08 h -286.38 v -95.76 h 252.28 V 1166.15 H 9995.92 V 1062.3 h 296.98" />
                                <path id="path34" d="m 10705.8,1378.64 h -174.5 v 127.37 h 508.7 v -127.37 h -173.6 V 938.148 h -160.6 v 440.492" />
                                <path id="path36" d="M 197.598,98.8008 C 197.598,44.2305 153.363,0 98.7969,0 44.2344,0 0,44.2305 0,98.8008 c 0,54.5582 44.2344,98.8012 98.7969,98.8012 54.5661,0 98.8011,-44.243 98.8011,-98.8012" />
                                <path id="path38" d="m 1866.07,1303.44 c -54.56,0 -98.79,-44.23 -98.79,-98.79 0,-5.74 0.75,-11.26 1.68,-16.73 l -430.2,-358.111 c -12.66,5.89 -26.63,9.429 -41.5,9.429 -14.93,0 -28.93,-3.558 -41.61,-9.476 L 815.414,1195.54 c 0.285,3.05 0.918,5.99 0.918,9.11 0,54.56 -44.23,98.79 -98.797,98.79 -54.566,0 -98.801,-44.23 -98.801,-98.79 0,-18.15 5.246,-34.94 13.786,-49.55 L 61.8867,119.129 135.703,78.4688 702.449,1107.37 c 4.953,-0.77 9.918,-1.52 15.086,-1.52 20.07,0 38.688,6.06 54.278,16.34 L 1201.87,764.891 c -2.01,-7.86 -3.41,-15.969 -3.41,-24.461 0,-54.559 44.23,-98.789 98.8,-98.789 54.56,0 98.79,44.23 98.79,98.789 0,8.519 -1.41,16.648 -3.44,24.531 l 425.19,353.969 c 14.33,-8.09 30.65,-13.08 48.27,-13.08 54.57,0 98.8,44.23 98.8,98.8 0,54.56 -44.23,98.79 -98.8,98.79" />
                                <path id="path40" d="m 2233.55,1045.84 c -49.76,64.93 -111.34,119.06 -184.78,162.5 0.02,-1.26 0.37,-2.43 0.37,-3.7 0,-100.93 -82.13,-183.06 -183.07,-183.06 -10.12,0 -20.28,0.9 -30.32,2.63 L 1479.91,727.988 c -6.42,-95.168 -85.88,-170.636 -182.65,-170.636 -96.7,0 -176.16,75.378 -182.66,170.476 L 756.086,1025.69 c -0.906,-0.2 -1.813,-0.41 -2.719,-0.58 L 272.82,152.719 c 5.344,-17.16 9.039,-35.028 9.039,-53.9104 C 281.859,62.3594 270.875,28.5508 252.441,0 H 1346.7 c 325.72,0 575,58.0391 747.22,174.461 172.21,116.43 258.31,281.867 258.31,496 0,146.73 -39.66,271.848 -118.68,375.379" />
                                <path id="path42" d="m 1989.11,2271.3 c -162.86,115.45 -400.54,172.86 -712.39,172.86 H 26.7422 V 266.988 c 7.8906,3.403 16.3203,5.621 24.7305,7.891 L 539.813,1161.43 c -3.54,14.16 -5.348,28.68 -5.348,43.21 0,100.93 82.133,183.07 183.062,183.07 90.032,0 165.086,-65.31 180.27,-151.06 L 1276.15,922.289 c 6.99,0.82 14.03,1.231 21.11,1.231 6.99,0 13.99,-0.411 20.9,-1.231 l 366.25,304.901 c 11.11,90.32 88.34,160.52 181.66,160.52 51.38,0 97.71,-21.43 130.99,-55.63 61.16,44.89 112.09,98.03 151.04,160.73 56.75,91.91 85.45,196.07 85.45,312.49 0,195.43 -81.58,350.88 -244.44,466" />
                            </g>
                        </g>
                    </svg>
                </a>
                <ul class="navigationLinksContainer d-lg-block d-md-block d-none">
                    <li class="navigationLink">
                        <a class="headingUnstyledAnchor" href="https://learn.blitzbudget.com">
                            <span class="headingLinkName">学</span>
                        </a>
                    </li>
                    <li class="navigationLink">
                        <a class="headingUnstyledAnchor" href="https://help.blitzbudget.com">
                            <span class="headingLinkName">技术支持</span>
                        </a>
                    </li>
                </ul>
                <div class="spacer"></div>
                <div class="expandedNavContent">
                    <div class="parentWrapperForMobileMenu">
                        <button id="mobileMenuButton" class="mobileMenuButton float-right d-lg-none d-md-none d-block">
                            <div class="mobileMenuBars"></div>
                        </button>
                        <div class="mobileBannerMenu">
                            <nav class="mobileBannerMenuNav">
                                <a href="https://learn.blitzbudget.com">了解</a>
                                <a href="https://help.blitzbudget.com">技术支持</a>
                                <a href="/premium">BlitzBudget Plus</a>
                                <a href="/blog">博客</a>
                            </nav>
                            <nav class="mobileBannerMenuSocialNav row">
                                <div class="col-6">
                                    <a href="https://app.blitzbudget.com" class="btn btn-outline-info btn-round mr-4">开始</a>
                                </div>
                                <div class="col-6">
                                    <a href="https://app.blitzbudget.com" class="btn btn-info btn-round">登入</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <a type="anchor" class="loginUnstyledAnchor d-lg-flex d-md-flex d-none" href="https://app.blitzbudget.com">
                        <span class="loginContent">
                            <span class="loginText">登入</span>
                        </span>
                    </a>
                    <div class="signupButtonWrapper d-lg-flex d-md-flex d-none">
                        <a type="anchor" class="text-decoration-none btn btn-info btn-round" href="https://app.blitzbudget.com">
                            <span class="signupContent">
                                <span class="signUpText">登入</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="root">
        <section class="Hero mx-auto">
            <div class="productHero article-container">
                <div class="layoutContainer my-5 mx-lg-3 mx-1 row">
                    <div class="col-12">
                        <h1 class="headingInPrivacyHero pt-5 text-animation fadeIn text-center">私隐政策<span class="">.</span></h1>
                        <p class="privacySubHeading mt-5 text-animation fadeInLeft text-center">最后修改：2020年3月2日</p>
                    </div>
                </div>
            </div>
        </section>
        <article class="mt-4 article-container">
            <div class="mx-auto">
                <p>在BlitzBudget，我们尊重您的隐私并致力于保护您的隐私。每家公司都有隐私政策，但归根结底，我们希望您了解我们如何保护您的隐私，并知道我们收集哪些数据以及如何使用这些数据。所以，让我们开始吧。.</p>
                <h2>概述</h2>
                <p>本政策描述了BlitzBudget（以下简称 "BlitzBudget"、"公司 "或 "我们"）可能向您收集的信息类型，或当您访问和使用通过我们的应用程序、软件和网站提供的财务规划软件时，您可能提供的信息 <a href="https://www.blitzbudget.com">blitzbudget.com</a> (统称为 "网站")。这包括我们收集、使用、维护、保护和披露该信息的做法以及这样做的依据。.</p>
                <p>本政策适用于我们在网站上收集的信息，您与本网站之间的电子邮件、文本和其他电子信息，以及通过您从本网站下载的移动和桌面应用程序或其他服务（如iOS App Store或Google Play Store）收集的信息，这些服务为您与本网站之间提供了专门的、非基于浏览器的互动。</p>
                <p>我们保留在任何时候通过在本页面和/或在本应用程序中通知您和/或通过任何可用的联系信息向您发送通知来更改本隐私政策的权利。强烈建议您经常查阅本页面，参考顶部的最后修改日期。</p>
                <h2>个人数据的收集和使用</h2>
                <p>BlitzBudget依靠一些法律依据来收集，使用，分享和以其他方式处理我们所拥有的关于您的信息，用于本隐私政策中所述的目的。一般来说，这包括分析、用户数据库管理、支持和联系请求管理、事务汇总、托管和基础设施备份以及基础设施监控。</p>
                <p>我们处理数据:</p>
                <ul>
                    <li>为了提供服务和履行我们在本协议下的义务 <a href="https://www.blitzbudget.com/zh/terms">服务条款</a>. 例如，如果没有电子邮件地址，我们无法提供服务，无法访问您的账户，无法进行客户支持或发送教育材料；如果用户没有提供报价或目标所依据的财务信息，我们无法提供服务。</li>
                    <li>为履行法律义务、法院命令，或为行使和维护法律主张所必需的；</li>
                    <li>保护自己或他人的重大利益，如在紧急情况下。</li>
                    <li>你把信息公开的地方。</li>
                    <li>必要时，为了公共利益。</li>
                    <li>在必要时，为了BlitzBudget的目的或第三方（如访客、会员或合作伙伴）的合法利益。</li>
                    <li>在您同意的情况下（如加入电子邮件列表）。</li>
                </ul>
                <p>我们也会根据我们的合法利益来处理您的数据，具体如下:</p>
                <ul>
                    <li>提供优质服务并改善服务;</li>
                    <li>确保服务安全;</li>
                    <li>防范诈骗、垃圾邮件和滥用等;</li>
                    <li>了解客户和访问者如何与我们的网站和服务进行互动，以便我们能够不断地改善体验和效果。</li>
                </ul>
                <h3>我们收集的数据类别</h3>
                <p>我们通过您对BlitzBudget的使用收集您的信息，包括直接或间接识别您的信息。我们的做法是:</p>
                <ul>
                    <li>当您通过填写表格或以其他方式在我们的网站和应用程序上提供信息时。;</li>
                    <li>当我们与您的金融机构连接，代表您检索交易数据时;</li>
                    <li>当您使用基于位置的服务在我们的移动应用程序上记录交易时;</li>
                    <li>当您通过电子邮件或聊天联系我们的客户支持时。</li>
                </ul>
                <p>这包括:</p>
                <ul>
                    <li>您作为用户名提供给我们的电子邮件地址，或者您用您的社交媒体账户提供给我们的电子邮件地址（如果您用它来登录）。</li>
                    <li>当您与我们的网站和应用程序互动时，您的IP地址。</li>
                    <li>当您选择直接链接金融账户到BlitzBudget时，您链接到我们服务的账户的登录凭证（包括用户名和密码），这些账户的账户安全和/或挑战问题，以及您链接到我们服务的其他金融账户信息（包括账户余额，交易和持有）。</li>
                    <li>当您在我们的移动应用程序上注册交易并已激活位置服务时，您的位置。</li>
                    <li>如果您与我们联系，您的通信记录和副本（包括用于建立您的账户的其他电子邮件地址）。</li>
                    <li>您对我们出于研究目的而要求您完成的调查的答复。</li>
                    <li>您通过我们的网站进行的交易和履行您的订单的细节。在您通过我们的网站下订单之前，您可能会被要求提供财务信息。</li>
                    <li>您在我们网站上填写表格时提供的信息。这包括在注册使用我们的网站、订阅我们的服务或要求其他服务时提供的信息。当您参加我们赞助的比赛或促销活动时，以及当您报告我们网站的问题时，我们也可能会要求您提供信息。</li>
                    <li>为您提供客户支持或服务产品，包括通过电子邮件或文字聊天回答和解决您的问题和要求。当您就第三方金融账户数据导入问题向我们的客户支持团队请求协助时，允许客户支持代表查看一定数量的近期交易数据，唯一目的是方便账户汇总服务的技术实施。根据您的要求，我们的客户支持代表可能会代表您在与第三方金融账户提供商的互动中使用这些交易数据，以便于在我们的服务中实施所要求的账户汇总。</li>
                </ul>
                <h4>Cookies &amp; 技术数据</h4>
                <p>BlitzBudget会在访问者和客户浏览和与网站和/或应用程序互动时收集信息。</p>
                <h5>网站访问者</h5>
                <p>当您访问我们的网站时，我们可能会在您的浏览器上放置一个cookie，以便您再次访问我们时，我们的系统能够识别您。第三方也可能出于广告目的在您的浏览器上放置cookies。该cookie允许我们在下次访问时识别您的浏览器。当您是访客时，我们不会收集或处理数据。</p>
                <h5>注册用户</h5>
                <p>为了帮助分析您和其他访问者如何浏览BlitzBudget网站和应用程序，并编制关于网站使用和响应率的汇总统计，我们在第三方分析服务提供商（如下所述）的帮助下，在您访问我们的网站时收集某些信息。这些信息包括IP地址、设备的地理位置、浏览器类型、浏览器语言、请求的日期和时间、访问时间、浏览的页面和点击的页面元素（如链接）以及其他类似数据。我们可能会在我们的网站上或在我们的电子邮件中使用cookies、像素标签和跟踪脚本来帮助我们收集和分析这些信息。我们使用这些信息在我们的网站上提供更好和更相关的内容，衡量广告的有效性，识别和排除问题，并改善您在我们网站上的整体体验。</p>
                <h5>选择不使用cookies</h5>
                <p>有几种方法可以限制您的浏览器接受的cookies或限制它们的使用方式。</p>
                <p>限制cookie的一种方法是选择不使用第三方cookie/广告网络。 <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics</a>. 如果您在加拿大或欧盟境内，您可以使用 <a href="https://youradchoices.ca">DAAC’s youradchoices.ca</a>, o <a href="http://youronlinechoices.eu/">EDAA’s youronlinechoices.eu</a> 分别是： 有些人使用所谓的 "广告拦截器 "来限制广告和跟踪。我们不支持任何 <em>particular</em> 广告拦截器，但我想让你知道，这是一个选择，因为你正在阅读这篇文章，你可能有一个隐私的心态。</p>
                <p>不使用上述方法的Cookie可能不会导致我们的服务本身的问题，但它使我们更难以有效地花费我们的广告预算，因为我们将不知道您如何发现BlitzBudget，有时我们甚至不知道你是否已经是我们的客户。其中，这意味着我们可能会不好意思给你看同样的广告，即使你已经是粉丝。根据您屏蔽的服务，这也会使我们更难知道您是如何使用我们的应用程序，或者知道您是否有问题。</p>
                <p>另一种限制Cookie的方法是在浏览器设置中控制Cookie（以这种方式禁用Cookie更有可能破坏或恶化使用我们某些服务的体验）。<br>
                    以下是最常见的浏览器的说明:</p>
                <ul>
                    <li>
                        <a href="https://support.google.com/chrome/answer/95647?hl=en-GB">Google Chrome</a>
                    </li>
                    <li>
                        <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a>
                    </li>
                    <li>
                        <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">Microsoft Edge</a>
                    </li>
                    <li>
                        <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer#w_cookie-settings">Mozilla Firefox</a>
                    </li>
                    <li>
                        <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Safari (Desktop)</a>
                    </li>
                    <li>
                        <a href="https://support.apple.com/en-us/HT201265">Safari (Mobile)</a>
                    </li>
                    <li>
                        <a href="https://support.google.com/ics/nexus/bin/answer.py?hl=en&amp;answer=2425067">Android Browser</a>
                    </li>
                </ul>
                <h3>个人数据的接收者</h3>
                <p><strong>我们不出售用户数据。(而我们从来没有！)</strong></p>
                <p>我们分享数据是为了实现您提供数据的目的；为了执行或应用我们的数据 <a href="https://www.blitzbudget.com/zh/terms">服务条款</a>, 包括开单。我们可能会披露或转移我们收集的个人信息或您在本隐私政策中提供的信息。:</p>
                <ul>
                    <li>向我们用来支持我们的业务，特别是提供分析基础设施和服务的承包商、服务提供商和其他第三方提供服务，他们受合同义务的约束，对个人信息进行保密，并仅将其用于我们披露的目的。</li>
                    <li>关于您的银行账户和其他金融账户的汇总，我们将把您的账户凭证传送给第三方汇总合作伙伴，第三方将使用它们收集和维护您的账户余额、交易和库存，用于提供我们的服务。</li>
                    <li>在合并、剥离、重组、改组、解散或以其他方式出售或转让我们的部分或全部资产的情况下，无论是作为持续经营还是作为破产、清算或类似程序的一部分，转让给买方或其他继承人，而我们所持有的关于我们网站用户的个人信息是转让的资产之一。</li>
                    <li>为了实现您提供的目的。</li>
                    <li>合计形式，和/或不能识别任何个人的信息；</li>
                    <li>用于您提供信息时本公司披露的任何其他目的。</li>
                    <li>经你同意。</li>
                </ul>
                <p>我们也可能披露您的个人信息:</p>
                <ul>
                    <li>遵守任何法院命令、法律或法律程序，包括回应任何政府或监管要求。</li>
                    <li>执行或适用我们的 <a href="https://www.blitzbudget.com/zh/terms">服务条款</a> 或销售条款和其他协议，包括用于计费和收款目的。</li>
                    <li>如果我们认为披露信息对于保护BlitzBudget、我们的客户或其他人的权利、财产或安全是必要或适当的。这包括与其他公司和组织交换信息，以保护欺诈和减少信用风险。</li>
                </ul>
                <h4>第三方供应商类别</h4>
                <p>用于处理数据的服务类别包括:</p>
                <h5>基础设施与合规</h5>
                <p>BlitzBudget与第三方合作，提供存储和服务器访问，作为我们的网站和应用程序的基础设施。此外，我们还与第三方合作，按照我们的条款进行支付和交易。</p>
                <h5>聚合</h5>
                <p>BlitzBudget与第三方合作，当您提出要求时，可以从他们的金融机构添加财务信息。</p>
                <h5>分析</h5>
                <p>BlitzBudget与第三方合作，帮助我们监控和分析网站流量，并可用于跟踪用户行为，帮助我们改善服务和用户体验。</p>
                <h5>客户支持</h5>
                <p>BlitzBudget与第三方合作，帮助我们接收，处理和响应客户服务请求，因为客户服务和教育是所提供的服务的一个基本组成部分。</p>
                <h5>业绩和登记</h5>
                <p>BlitzBudget与第三方合作，以帮助我们监测网站和应用程序的稳定性，并解决服务的问题或错误。</p>
                <h4>市场营销</h4>
                <p>BlitzBudget与第三方合作，以管理接收同意发送营销电子邮件和这些相同的电子邮件的发送。</p>
                <h3>数据保存</h3>
                <p>在账户到期后，无论是试用期满还是订阅期满，我们都会在一段时间内保留账户数据，除非您按照下文所述删除您的账户。</p>
                <p>一旦账户超过下面描述的时间段不活跃，我们将删除您的预算、目标或交易数据（请注意，如果您取消账户，它将保持活跃状态，直到您的订阅结束。以下所述的时间段直到该订阅到期为止）。</p>
                <p>我们将删除账户和您的数据:</p>
                <ul>
                    <li>对于已经过期的审判，立即;</li>
                    <li>对于过期的订阅，请立即.</li>
                </ul>
                <p>删除后，我们会保留您的电子邮件地址，以便我们确认相关数据的删除。</p>
                <h3>自动数据处理</h3>
                <p>我们与第三方支付处理器一起，使用自动分析来检测可疑或欺诈性交易。</p>
                <p>当我们只做出对您有法律或重大影响的自动化决定时，您有权提供您的意见，并要求我们的工作人员对这些决定进行审查。</p>
                <h3>第三方应用程序和集成</h3>
                <p>当您选择使用第三方应用（如基于我们的API的OAuth应用）、插件或与服务整合的网站时，它们可能会收到您的信息和内容，包括您的个人信息、照片和活动数据（包括私人活动）。这些第三方收集的信息受其条款和政策的约束。BlitzBudget不对第三方的条款或政策负责。</p>
                <h3>13岁以下儿童</h3>
                <p>我们的网站不适合13岁以下的儿童（对于通常居住在欧盟的儿童，则为16岁，这适用于以下段落的其他内容）。未满上述年龄者不得向本网站提供任何个人信息。我们不会故意收集13岁以下儿童的个人信息。如果您未满13岁，请不要在本网站或其任何功能上或通过其任何功能使用或提供任何信息，不要在本网站注册，不要通过本网站购物，不要使用本网站的任何互动或公共评论功能，也不要向我们提供任何有关您自己的信息，包括您的姓名、地址、电话号码、电子邮件地址或您可能使用的任何网名或用户名。如果我们得知我们收集或收到了13岁以下儿童的个人信息，但没有得到父母的同意，我们将删除这些信息。如果您认为我们可能掌握了13岁以下儿童的任何信息，请与我们联系，地址是 <a href="mailto:admin@blitzbudget.com">admin@blitzbudget.com</a>.</p>
                <h3>您的权利</h3>
                <p>我们已经建立了一系列的程序来帮助您管理您的个人数据。</p>
                <h4>删减</h4>
                <p>您可以通过访问您的账户设置来删除您的账户。这将删除所有的个人数据，但电子邮件通信除外。请注意，删除与您的账户相关的所有数据的过程将耗时一（1）天，而日志文件将被保留七（7）天。</p>
                <h4>调整通知和电子邮件首选项</h4>
                <p>BlitzBudget提供了几种方法来管理您收到的通信。您可以按照每种类型电子邮件底部的说明，选择取消订阅电子邮件和列表。任何管理或服务相关的电子邮件（确认购买，或更新本隐私政策或本网站） <a href="https://www.blitzbudget.com/zh/terms">服务条款</a>, 等）一般不提供取消订阅的选择，因为它们是提供您要求的服务所必需的。</p>
                <h4>更新账户信息</h4>
                <p>您可以通过调整您的电子邮件和/或密码中的信息，随时纠正、修改或更新您的电子邮件和/或密码 <a href="https://app.blitzbudget.com/settings">账户设置</a>. 您可以通过应用程序中的个人账户设置随时停止添加金融机构的交易 <a href="https://app.blitzbudget.com/profile">BlitzBudget</a>.</p>
                <h4>便携性</h4>
                <p>您可以通过以下方式访问您与我们分享的信息 <a href="https://app.blitzbudget.com/transactions">输出您的预算和交易记录</a>.</p>
                <h4>反对、限制或撤回同意</h4>
                <p>在上述情况下，您可以撤回对处理的同意。我们进行的其他数据处理是为了履行我们的服务条款和/或我们的合法利益和/或法律原因，删除您的账户和数据是停止处理所必需的。</p>
                <h4>来自欧盟的访客和客户的权利</h4>
                <p>访问权、删除权、可携性和限制权见上文。此外，如果您通常居住在欧盟，并希望对我们使用您的信息提出关注（在不影响您可能拥有的任何其他权利的情况下），您有权向您当地的监管机构提出。</p>
                <h5>转移</h5>
                <p>由BlitzBudget提供的服务是从欧元区操作。如果您位于欧元区以外，并且您选择使用服务或向我们提供信息，您承认并理解，您的信息将在欧元区被传输、处理和存储，因为这是提供服务和执行以下任务所必需的 <a href="https://www.blitzbudget.com/zh/terms">服务条款</a>.</p>
                <h3>更多阅读</h3>
                <p>我们在这里非常重视安全问题，我们在我们的网站上详细介绍了我们为保护用户数据所采取的措施 <a href="https://www.blitzbudget.com/security">安全政策</a>. 更多法律解读，请看我们的 <a href="https://www.blitzbudget.com/zh/terms">服务条款</a>. 如果您需要进一步的帮助，请发邮件至 <a href="mailto:admin@blitzbudget.com">admin@blitzbudget.com</a>.</p>
            </div>
            <section class="Footer">
                <div class="features section footerContainer">
                    <div class="footerInternal">
                        <div class="footerInternal row">
                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader">支持</header>
                                <span class="d-block">
                                    <a href="/zh/privacy" class="footerLink">私隐政策</a>
                                </span>
                                <span class="d-block">
                                    <a href="/zh/terms" class="footerLink">私隐政策</a>
                                </span>
                                <span class="d-block">
                                    <a href="https://help.blitzbudget.com" class="footerLink">帮助中心</a>
                                </span>
                            </nav>

                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader" data-i18n="footer.company">公司介绍</header>
                                <span class="d-block">
                                    <a href="/careers" class="footerLink" data-i18n="footer.careers">职业生涯</a>
                                </span>
                                <span class="d-block">
                                    <a href="/blog" class="footerLink">博客</a>
                                </span>
                                <span class="d-block">
                                    <a href="/press-kit" class="footerLink" data-i18n="footer.press">新闻资料袋</a>
                                </span>
                            </nav>

                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader" data-i18n="footer.product">产品介绍</header>
                                <span class="d-block">
                                    <a href="/blog/customer-stories" class="footerLink" data-i18n="footer.customerservice">客户故事</a>
                                </span>
                                <span class="d-block">
                                    <a href="/premium" class="footerLink">BlitzBudget Plus</a>
                                </span>
                                <span class="d-block">
                                    <a href="https://app.blitzbudget.com" class="footerLink" data-i18n="header.getstarted">开始</a>
                                </span>
                            </nav>
                        </div>
                    </div>
                    <div class="footerOther">
                        <div class="footerCopyright text-center">© <span id="currentYear">2020</span> BlitzBudget</div>
                        <a class="logoHeader" href="/">
                            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1472 325.89334" height="50" width="150" xml:space="preserve" id="svg2" version="1.1">
                                <metadata id="metadata8">
                                    <rdf:RDF>
                                        <cc:Work rdf:about="">
                                            <dc:format>image/svg+xml</dc:format>
                                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                        </cc:Work>
                                    </rdf:RDF>
                                </metadata>
                                <defs id="defs6" />
                                <g transform="matrix(1.3333333,0,0,-1.3333333,0,325.89333)" id="g10">
                                    <g transform="scale(0.1)" id="g12">
                                        <path id="path14" d="m 3571.24,1002.66 c 28.4,19.18 42.56,48.77 42.56,88.78 0,40.09 -14.16,69.53 -42.56,88.49 -28.39,18.89 -70.2,28.4 -125.35,28.4 H 3234.16 V 973.82 h 211.73 c 55.15,0 96.96,9.59 125.35,28.84 z m -337.08,467.68 v -226.35 h 193.9 c 49.75,0 88.04,9.59 114.79,28.78 26.74,19.25 40.15,47.5 40.15,84.81 0,36.79 -13.41,64.74 -40.15,83.92 -26.75,19.25 -65.04,28.84 -114.79,28.84 z m 389,-287.19 c 21.36,-24.34 32.07,-55.96 32.07,-94.93 0,-48.1 -17.6,-85.19 -52.74,-111.111 -35.15,-26 -87.37,-38.961 -156.6,-38.961 h -253.1 v 567.862 h 236.92 c 61.66,0 109.61,-12.59 143.93,-37.69 34.39,-25.18 51.55,-60.99 51.55,-107.52 0,-32.44 -8.54,-59.79 -25.55,-81.89 -17.01,-22.18 -40.16,-38.14 -69.38,-47.88 40.61,-7.57 71.55,-23.52 92.9,-47.88" />
                                        <path id="path16" d="m 4005.66,1506.01 h 41.36 V 975.469 h 326.97 v -37.321 h -368.33 v 567.862" />
                                        <path id="path18" d="m 4683.06,1506.01 h 41.35 V 938.148 h -41.35 v 567.862" />
                                        <path id="path20" d="m 5233.91,1468.7 h -204.48 v 37.31 h 450.3 V 1468.7 H 5275.26 V 938.148 h -41.35 V 1468.7" />
                                        <path id="path22" d="m 6181.48,975.469 v -37.321 h -457.56 v 29.223 l 391.85,501.329 h -386.98 v 37.31 h 443.78 v -29.22 L 5781.53,975.469 h 399.95" />
                                        <path id="path24" d="m 6847.49,1111.75 c 0,38.43 -28.17,57.62 -84.36,57.62 h -134.72 v -115.24 h 134.72 c 56.19,0 84.36,19.19 84.36,57.62 z m -219.08,278.27 v -109.54 h 110.37 c 54.01,0 81.06,18.43 81.06,55.22 0,36.19 -27.05,54.32 -81.06,54.32 z m 353.72,-208.89 c 18.36,-24.05 27.58,-53.12 27.58,-87.22 0,-49.74 -20.01,-88.18 -60.02,-115.23 -40.01,-27.039 -97.93,-40.532 -173.61,-40.532 h -306.66 v 567.862 h 290.4 c 72.47,0 127.68,-13.34 165.52,-40.16 37.83,-26.75 56.79,-62.86 56.79,-108.27 0,-27.05 -6.67,-51.25 -19.85,-72.6 -13.27,-21.35 -32.07,-38.29 -56.42,-50.72 32.44,-11.4 57.84,-29.08 76.27,-53.13" />
                                        <path id="path26" d="m 7361.41,995.77 c -46.84,45.93 -70.21,111.11 -70.21,195.48 v 314.76 h 160.64 v -309.89 c 0,-90.89 35.96,-136.29 107.89,-136.29 71.4,0 107.07,45.4 107.07,136.29 v 309.89 h 158.16 v -314.76 c 0,-84.37 -23.37,-149.55 -70.13,-195.48 -46.82,-46.008 -112.38,-69 -196.75,-69 -84.37,0 -149.93,22.992 -196.67,69" />
                                        <path id="path28" d="m 8398.59,1066.35 c 48.7,0 87.74,13.78 117.26,41.35 29.44,27.58 44.21,65.72 44.21,114.42 0,48.62 -14.77,86.76 -44.21,114.33 -29.52,27.57 -68.56,41.43 -117.26,41.43 h -101.37 v -311.53 z m -262.01,439.66 h 268.53 c 62.18,0 117.33,-11.62 165.51,-34.85 48.1,-23.3 85.42,-56.26 111.94,-98.97 26.44,-42.78 39.71,-92.76 39.71,-150.07 0,-57.4 -13.27,-107.38 -39.71,-150.08 -26.52,-42.78 -63.84,-75.751 -111.94,-98.981 -48.18,-23.297 -103.33,-34.911 -165.51,-34.911 h -268.53 v 567.862" />
                                        <path id="path30" d="M 9389.92,1234.26 H 9531.9 V 998.988 c -32.44,-23.226 -69.75,-41.129 -111.93,-53.566 -42.19,-12.442 -84.36,-18.652 -126.55,-18.652 -59.56,0 -113.06,12.57 -160.64,37.75 -47.65,25.171 -84.97,60.17 -111.94,105.05 -27.12,44.88 -40.61,95.75 -40.61,152.55 0,56.79 13.49,107.59 40.61,152.47 26.97,44.88 64.59,79.95 112.76,105.04 48.11,25.18 102.43,37.76 163.04,37.76 52.98,0 100.55,-8.91 142.81,-26.74 42.18,-17.91 77.33,-43.61 105.42,-77.1 l -102.19,-92.46 c -38.44,42.18 -84.37,63.24 -137.94,63.24 -48.63,0 -87.89,-14.76 -117.64,-44.21 -29.75,-29.44 -44.58,-68.85 -44.58,-118 0,-31.4 6.75,-59.42 20.23,-84 13.56,-24.65 32.45,-43.83 56.79,-57.61 24.36,-13.79 52.23,-20.68 83.62,-20.68 30.8,0 59.72,6.21 86.76,18.65 v 155.78" />
                                        <path id="path32" d="M 10292.9,1062.3 V 938.148 h -455.98 v 567.862 h 445.38 v -124.08 h -286.38 v -95.76 h 252.28 V 1166.15 H 9995.92 V 1062.3 h 296.98" />
                                        <path id="path34" d="m 10705.8,1378.64 h -174.5 v 127.37 h 508.7 v -127.37 h -173.6 V 938.148 h -160.6 v 440.492" />
                                        <path id="path36" d="M 197.598,98.8008 C 197.598,44.2305 153.363,0 98.7969,0 44.2344,0 0,44.2305 0,98.8008 c 0,54.5582 44.2344,98.8012 98.7969,98.8012 54.5661,0 98.8011,-44.243 98.8011,-98.8012" />
                                        <path id="path38" d="m 1866.07,1303.44 c -54.56,0 -98.79,-44.23 -98.79,-98.79 0,-5.74 0.75,-11.26 1.68,-16.73 l -430.2,-358.111 c -12.66,5.89 -26.63,9.429 -41.5,9.429 -14.93,0 -28.93,-3.558 -41.61,-9.476 L 815.414,1195.54 c 0.285,3.05 0.918,5.99 0.918,9.11 0,54.56 -44.23,98.79 -98.797,98.79 -54.566,0 -98.801,-44.23 -98.801,-98.79 0,-18.15 5.246,-34.94 13.786,-49.55 L 61.8867,119.129 135.703,78.4688 702.449,1107.37 c 4.953,-0.77 9.918,-1.52 15.086,-1.52 20.07,0 38.688,6.06 54.278,16.34 L 1201.87,764.891 c -2.01,-7.86 -3.41,-15.969 -3.41,-24.461 0,-54.559 44.23,-98.789 98.8,-98.789 54.56,0 98.79,44.23 98.79,98.789 0,8.519 -1.41,16.648 -3.44,24.531 l 425.19,353.969 c 14.33,-8.09 30.65,-13.08 48.27,-13.08 54.57,0 98.8,44.23 98.8,98.8 0,54.56 -44.23,98.79 -98.8,98.79" />
                                        <path id="path40" d="m 2233.55,1045.84 c -49.76,64.93 -111.34,119.06 -184.78,162.5 0.02,-1.26 0.37,-2.43 0.37,-3.7 0,-100.93 -82.13,-183.06 -183.07,-183.06 -10.12,0 -20.28,0.9 -30.32,2.63 L 1479.91,727.988 c -6.42,-95.168 -85.88,-170.636 -182.65,-170.636 -96.7,0 -176.16,75.378 -182.66,170.476 L 756.086,1025.69 c -0.906,-0.2 -1.813,-0.41 -2.719,-0.58 L 272.82,152.719 c 5.344,-17.16 9.039,-35.028 9.039,-53.9104 C 281.859,62.3594 270.875,28.5508 252.441,0 H 1346.7 c 325.72,0 575,58.0391 747.22,174.461 172.21,116.43 258.31,281.867 258.31,496 0,146.73 -39.66,271.848 -118.68,375.379" />
                                        <path id="path42" d="m 1989.11,2271.3 c -162.86,115.45 -400.54,172.86 -712.39,172.86 H 26.7422 V 266.988 c 7.8906,3.403 16.3203,5.621 24.7305,7.891 L 539.813,1161.43 c -3.54,14.16 -5.348,28.68 -5.348,43.21 0,100.93 82.133,183.07 183.062,183.07 90.032,0 165.086,-65.31 180.27,-151.06 L 1276.15,922.289 c 6.99,0.82 14.03,1.231 21.11,1.231 6.99,0 13.99,-0.411 20.9,-1.231 l 366.25,304.901 c 11.11,90.32 88.34,160.52 181.66,160.52 51.38,0 97.71,-21.43 130.99,-55.63 61.16,44.89 112.09,98.03 151.04,160.73 56.75,91.91 85.45,196.07 85.45,312.49 0,195.43 -81.58,350.88 -244.44,466" />
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </section>
        </article>
    </div>
</body>

</html>
