<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <title>Privacy Policy | Blitz Budget</title>
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="At BlitzBudget, we respect your privacy and are committed to protecting it. Every company has a privacy policy, but when it comes right down to it, we want you to understand how we protect your privacy and to know what data we collect and how we use it. So let’s get to it.">
    <meta property="og:url" content="https://www.blitzbudget.com/ja/privacy">
    <meta property="og:site_name" content="Blitz Budget">
    <meta property="article:publisher" content="https://www.blitzbudget.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="blitzbudget">
    <meta name="twitter:domain" content="Blitz Budget">
    <meta name="twitter:title" content="Privacy Policy">
    <meta name="twitter:description" content="At BlitzBudget, we respect your privacy and are committed to protecting it. Every company has a privacy policy, but when it comes right down to it, we want you to understand how we protect your privacy and to know what data we collect and how we use it. So let’s get to it.">
    <meta name="twitter:url" content="https://www.blitzbudget.com/ja/privacy">

    <meta name="description" content="At BlitzBudget, we respect your privacy and are committed to protecting it. Every company has a privacy policy, but when it comes right down to it, we want you to understand how we protect your privacy and to know what data we collect and how we use it. So let’s get to it.">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="https://www.blitzbudget.com/ja/privacy">
    <link rel="shortcut icon" type="image/x-icon" sizes="64x64" href="img/business-name/favicon-business-name.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Didact+Gothic:300,400,500,700|Material+Icons" />

    <!-- CSS Files -->
    <link nonce="2726f7e26d" rel="stylesheet preload" href="/css/others.all.min.css" />
    <!--   Core JS Files   -->
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script defer nonce="2726d7e26r" src="/js/core-others.min.js" type="text/javascript"></script>
</head>

<body>
    <!-- Navigation -->
    <div class="navBarWrapper">
        <nav role="navigation" class="expandedNavigationBar">
            <div class="navigationBar">
                <a class="logoHeader" href="/">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1472 325.89334" height="50" width="150" xml:space="preserve" id="svg2" version="1.1">
                        <metadata id="metadata8">
                            <rdf:RDF>
                                <cc:Work rdf:about="">
                                    <dc:format>image/svg+xml</dc:format>
                                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                </cc:Work>
                            </rdf:RDF>
                        </metadata>
                        <defs id="defs6" />
                        <g transform="matrix(1.3333333,0,0,-1.3333333,0,325.89333)" id="g10">
                            <g transform="scale(0.1)" id="g12">
                                <path id="path14" d="m 3571.24,1002.66 c 28.4,19.18 42.56,48.77 42.56,88.78 0,40.09 -14.16,69.53 -42.56,88.49 -28.39,18.89 -70.2,28.4 -125.35,28.4 H 3234.16 V 973.82 h 211.73 c 55.15,0 96.96,9.59 125.35,28.84 z m -337.08,467.68 v -226.35 h 193.9 c 49.75,0 88.04,9.59 114.79,28.78 26.74,19.25 40.15,47.5 40.15,84.81 0,36.79 -13.41,64.74 -40.15,83.92 -26.75,19.25 -65.04,28.84 -114.79,28.84 z m 389,-287.19 c 21.36,-24.34 32.07,-55.96 32.07,-94.93 0,-48.1 -17.6,-85.19 -52.74,-111.111 -35.15,-26 -87.37,-38.961 -156.6,-38.961 h -253.1 v 567.862 h 236.92 c 61.66,0 109.61,-12.59 143.93,-37.69 34.39,-25.18 51.55,-60.99 51.55,-107.52 0,-32.44 -8.54,-59.79 -25.55,-81.89 -17.01,-22.18 -40.16,-38.14 -69.38,-47.88 40.61,-7.57 71.55,-23.52 92.9,-47.88" />
                                <path id="path16" d="m 4005.66,1506.01 h 41.36 V 975.469 h 326.97 v -37.321 h -368.33 v 567.862" />
                                <path id="path18" d="m 4683.06,1506.01 h 41.35 V 938.148 h -41.35 v 567.862" />
                                <path id="path20" d="m 5233.91,1468.7 h -204.48 v 37.31 h 450.3 V 1468.7 H 5275.26 V 938.148 h -41.35 V 1468.7" />
                                <path id="path22" d="m 6181.48,975.469 v -37.321 h -457.56 v 29.223 l 391.85,501.329 h -386.98 v 37.31 h 443.78 v -29.22 L 5781.53,975.469 h 399.95" />
                                <path id="path24" d="m 6847.49,1111.75 c 0,38.43 -28.17,57.62 -84.36,57.62 h -134.72 v -115.24 h 134.72 c 56.19,0 84.36,19.19 84.36,57.62 z m -219.08,278.27 v -109.54 h 110.37 c 54.01,0 81.06,18.43 81.06,55.22 0,36.19 -27.05,54.32 -81.06,54.32 z m 353.72,-208.89 c 18.36,-24.05 27.58,-53.12 27.58,-87.22 0,-49.74 -20.01,-88.18 -60.02,-115.23 -40.01,-27.039 -97.93,-40.532 -173.61,-40.532 h -306.66 v 567.862 h 290.4 c 72.47,0 127.68,-13.34 165.52,-40.16 37.83,-26.75 56.79,-62.86 56.79,-108.27 0,-27.05 -6.67,-51.25 -19.85,-72.6 -13.27,-21.35 -32.07,-38.29 -56.42,-50.72 32.44,-11.4 57.84,-29.08 76.27,-53.13" />
                                <path id="path26" d="m 7361.41,995.77 c -46.84,45.93 -70.21,111.11 -70.21,195.48 v 314.76 h 160.64 v -309.89 c 0,-90.89 35.96,-136.29 107.89,-136.29 71.4,0 107.07,45.4 107.07,136.29 v 309.89 h 158.16 v -314.76 c 0,-84.37 -23.37,-149.55 -70.13,-195.48 -46.82,-46.008 -112.38,-69 -196.75,-69 -84.37,0 -149.93,22.992 -196.67,69" />
                                <path id="path28" d="m 8398.59,1066.35 c 48.7,0 87.74,13.78 117.26,41.35 29.44,27.58 44.21,65.72 44.21,114.42 0,48.62 -14.77,86.76 -44.21,114.33 -29.52,27.57 -68.56,41.43 -117.26,41.43 h -101.37 v -311.53 z m -262.01,439.66 h 268.53 c 62.18,0 117.33,-11.62 165.51,-34.85 48.1,-23.3 85.42,-56.26 111.94,-98.97 26.44,-42.78 39.71,-92.76 39.71,-150.07 0,-57.4 -13.27,-107.38 -39.71,-150.08 -26.52,-42.78 -63.84,-75.751 -111.94,-98.981 -48.18,-23.297 -103.33,-34.911 -165.51,-34.911 h -268.53 v 567.862" />
                                <path id="path30" d="M 9389.92,1234.26 H 9531.9 V 998.988 c -32.44,-23.226 -69.75,-41.129 -111.93,-53.566 -42.19,-12.442 -84.36,-18.652 -126.55,-18.652 -59.56,0 -113.06,12.57 -160.64,37.75 -47.65,25.171 -84.97,60.17 -111.94,105.05 -27.12,44.88 -40.61,95.75 -40.61,152.55 0,56.79 13.49,107.59 40.61,152.47 26.97,44.88 64.59,79.95 112.76,105.04 48.11,25.18 102.43,37.76 163.04,37.76 52.98,0 100.55,-8.91 142.81,-26.74 42.18,-17.91 77.33,-43.61 105.42,-77.1 l -102.19,-92.46 c -38.44,42.18 -84.37,63.24 -137.94,63.24 -48.63,0 -87.89,-14.76 -117.64,-44.21 -29.75,-29.44 -44.58,-68.85 -44.58,-118 0,-31.4 6.75,-59.42 20.23,-84 13.56,-24.65 32.45,-43.83 56.79,-57.61 24.36,-13.79 52.23,-20.68 83.62,-20.68 30.8,0 59.72,6.21 86.76,18.65 v 155.78" />
                                <path id="path32" d="M 10292.9,1062.3 V 938.148 h -455.98 v 567.862 h 445.38 v -124.08 h -286.38 v -95.76 h 252.28 V 1166.15 H 9995.92 V 1062.3 h 296.98" />
                                <path id="path34" d="m 10705.8,1378.64 h -174.5 v 127.37 h 508.7 v -127.37 h -173.6 V 938.148 h -160.6 v 440.492" />
                                <path id="path36" d="M 197.598,98.8008 C 197.598,44.2305 153.363,0 98.7969,0 44.2344,0 0,44.2305 0,98.8008 c 0,54.5582 44.2344,98.8012 98.7969,98.8012 54.5661,0 98.8011,-44.243 98.8011,-98.8012" />
                                <path id="path38" d="m 1866.07,1303.44 c -54.56,0 -98.79,-44.23 -98.79,-98.79 0,-5.74 0.75,-11.26 1.68,-16.73 l -430.2,-358.111 c -12.66,5.89 -26.63,9.429 -41.5,9.429 -14.93,0 -28.93,-3.558 -41.61,-9.476 L 815.414,1195.54 c 0.285,3.05 0.918,5.99 0.918,9.11 0,54.56 -44.23,98.79 -98.797,98.79 -54.566,0 -98.801,-44.23 -98.801,-98.79 0,-18.15 5.246,-34.94 13.786,-49.55 L 61.8867,119.129 135.703,78.4688 702.449,1107.37 c 4.953,-0.77 9.918,-1.52 15.086,-1.52 20.07,0 38.688,6.06 54.278,16.34 L 1201.87,764.891 c -2.01,-7.86 -3.41,-15.969 -3.41,-24.461 0,-54.559 44.23,-98.789 98.8,-98.789 54.56,0 98.79,44.23 98.79,98.789 0,8.519 -1.41,16.648 -3.44,24.531 l 425.19,353.969 c 14.33,-8.09 30.65,-13.08 48.27,-13.08 54.57,0 98.8,44.23 98.8,98.8 0,54.56 -44.23,98.79 -98.8,98.79" />
                                <path id="path40" d="m 2233.55,1045.84 c -49.76,64.93 -111.34,119.06 -184.78,162.5 0.02,-1.26 0.37,-2.43 0.37,-3.7 0,-100.93 -82.13,-183.06 -183.07,-183.06 -10.12,0 -20.28,0.9 -30.32,2.63 L 1479.91,727.988 c -6.42,-95.168 -85.88,-170.636 -182.65,-170.636 -96.7,0 -176.16,75.378 -182.66,170.476 L 756.086,1025.69 c -0.906,-0.2 -1.813,-0.41 -2.719,-0.58 L 272.82,152.719 c 5.344,-17.16 9.039,-35.028 9.039,-53.9104 C 281.859,62.3594 270.875,28.5508 252.441,0 H 1346.7 c 325.72,0 575,58.0391 747.22,174.461 172.21,116.43 258.31,281.867 258.31,496 0,146.73 -39.66,271.848 -118.68,375.379" />
                                <path id="path42" d="m 1989.11,2271.3 c -162.86,115.45 -400.54,172.86 -712.39,172.86 H 26.7422 V 266.988 c 7.8906,3.403 16.3203,5.621 24.7305,7.891 L 539.813,1161.43 c -3.54,14.16 -5.348,28.68 -5.348,43.21 0,100.93 82.133,183.07 183.062,183.07 90.032,0 165.086,-65.31 180.27,-151.06 L 1276.15,922.289 c 6.99,0.82 14.03,1.231 21.11,1.231 6.99,0 13.99,-0.411 20.9,-1.231 l 366.25,304.901 c 11.11,90.32 88.34,160.52 181.66,160.52 51.38,0 97.71,-21.43 130.99,-55.63 61.16,44.89 112.09,98.03 151.04,160.73 56.75,91.91 85.45,196.07 85.45,312.49 0,195.43 -81.58,350.88 -244.44,466" />
                            </g>
                        </g>
                    </svg>
                </a>
                <ul class="navigationLinksContainer d-lg-block d-md-block d-none">
                    <li class="navigationLink">
                        <a class="headingUnstyledAnchor" href="https://learn.blitzbudget.com">
                            <span class="headingLinkName">学ぶ</span>
                        </a>
                    </li>
                    <li class="navigationLink">
                        <a class="headingUnstyledAnchor" href="https://help.blitzbudget.com">
                            <span class="headingLinkName">サポート</span>
                        </a>
                    </li>
                </ul>
                <div class="spacer"></div>
                <div class="expandedNavContent">
                    <div class="parentWrapperForMobileMenu">
                        <button id="mobileMenuButton" class="mobileMenuButton float-right d-lg-none d-md-none d-block">
                            <div class="mobileMenuBars"></div>
                        </button>
                        <div class="mobileBannerMenu">
                            <nav class="mobileBannerMenuNav">
                                <a href="https://learn.blitzbudget.com">学ぶ</a>
                                <a href="https://help.blitzbudget.com">サポート</a>
                                <a href="/premium">電撃予算プラス</a>
                                <a href="/blog">ブログ</a>
                            </nav>
                            <nav class="mobileBannerMenuSocialNav row">
                                <div class="col-6">
                                    <a href="https://app.blitzbudget.com" class="btn btn-outline-info btn-round mr-4">感情表現</a>
                                </div>
                                <div class="col-6">
                                    <a href="https://app.blitzbudget.com" class="btn btn-info btn-round">ログイン</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <a type="anchor" class="loginUnstyledAnchor d-lg-flex d-md-flex d-none" href="https://app.blitzbudget.com">
                        <span class="loginContent">
                            <span class="loginText">ログイン</span>
                        </span>
                    </a>
                    <div class="signupButtonWrapper d-lg-flex d-md-flex d-none">
                        <a type="anchor" class="text-decoration-none btn btn-info btn-round" href="https://app.blitzbudget.com">
                            <span class="signupContent">
                                <span class="signUpText">ログイン</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="root">
        <section class="Hero mx-auto">
            <div class="productHero article-container">
                <div class="layoutContainer my-5 mx-lg-3 mx-1 row">
                    <div class="col-12">
                        <h1 class="headingInPrivacyHero pt-5 text-animation fadeIn text-center">個人情報保護方針<span class="">.</span></h1>
                        <p class="privacySubHeading mt-5 text-animation fadeInLeft text-center">最終更新日: 02 3月 2020</p>
                    </div>
                </div>
            </div>
        </section>
        <article class="mt-4 article-container">
            <div class="mx-auto">
                <p>電撃予算では、お客様のプライバシーを尊重し、その保護に努めています。どこの会社にもプライバシーポリシーはありますが、いざとなると、どのようにプライバシーを守っているのか、どのようなデータを収集しているのか、どのように使っているのかを理解してほしいと思います。では、本題に入りましょう。</p>
                <h2>概要</h2>
                <p>本ポリシーでは、当社のアプリケーション、ソフトウェア、ウェブサイトで利用可能なファイナンシャル・プランニング・ソフトウェアを利用する際に、電撃予算（以下「電撃予算」、「当社」または「当社」）がお客様から収集する情報、またはお客様が提供する情報の種類について説明します <a href="https://www.blitzbudget.com">blitzbudget.com</a> (以下、総称して「当サイト」といいます。)。これには、情報の収集、使用、維持、保護、および開示に関する当社の慣行とその根拠が含まれます。</p>
                <p>このポリシーは、本ウェブサイト、お客様と本ウェブサイト間の電子メール、テキスト、その他の電子メッセージ、およびお客様が本ウェブサイトからダウンロードしたモバイルアプリケーションやデスクトップアプリケーション、またはお客様と本ウェブサイトとの間で専用の非ブラウザベースの相互作用を提供するその他のサービス（iOS App StoreやGoogle Play Storeなど）を介して収集した情報に適用されます。</p>
                <p>当社は、本ページおよび/または本アプリケーション内での通知、および/または利用可能な連絡先情報を介して通知を送信することにより、いつでも本プライバシーポリシーを変更する権利を留保します。トップの最終修正日を参考にして、このページを頻繁に参照することを強くお勧めします。</p>
                <h2>個人情報の収集・利用について</h2>
                <p>電撃予算は、本プライバシーポリシーに記載されている目的のために、お客様の情報を収集、使用、共有、処理するために、多くの法的根拠に基づいています。一般的には、分析、ユーザーデータベースの管理、サポートやコンタクトリクエストの管理、トランザクションの集計、ホスティングやインフラのバックアップ、インフラの監視などが含まれます。</p>
                <p>データを加工します:</p>
                <ul>
                    <li>の下での義務を果たすために、サービスを提供します <a href="https://www.blitzbudget.com/ja/terms">利用規約</a>. 例えば、お客様のアカウントにアクセスしたり、カスタマーサポートを行ったり、教材を送ったりするための電子メールアドレスがないとサービスを提供することができません。</li>
                    <li>法的義務、裁判所の命令に従うために必要な場合、または法的請求権を行使し、防御するために必要な場合。</li>
                    <li>緊急時のように、自分の重要な利益や他人の利益を守るために。</li>
                    <li>どこで公開したのか</li>
                    <li>公共の利益のために必要な場合。</li>
                    <li>電撃予算の目的や、訪問者、会員、パートナーなどの第三者の正当な利益のために必要な場合。</li>
                    <li>ご本人の同意がある場合（メールリストへの参加など）。</li>
                </ul>
                <p>また、当社の正当な利益に基づいて、お客様のデータを処理します</p>
                <ul>
                    <li>質の高いサービスを提供し、そのサービスを向上させること。</li>
                    <li>サービスの安全性を確保すること。</li>
                    <li>サービスの安全性を確保すること。</li>
                    <li>お客様や訪問者が当社のウェブサイトやサービスとどのように相互作用しているかを理解し、その経験と効果を継続的に向上させることができます。</li>
                </ul>
                <h3>収集したデータのカテゴリー</h3>
                <p>電撃予算を利用することで、直接または間接的にお客様を特定できる情報を含む、お客様に関する情報を収集しています。私たちは次のようにしています。:</p>
                <ul>
                    <li>お客様がフォームに記入したり、当社のウェブサイトやアプリケーションに情報を提供したりして情報を提供する場合</li>
                    <li>お客様の金融機関と接続して、お客様に代わって取引データを取得する場合。</li>
                    <li>お客様が位置情報サービスを利用して、当社のモバイルアプリケーション上の取引を記録する場合。</li>
                    <li>メールやチャットでカスタマーサポートにご連絡いただいた場合</li>
                </ul>
                <p>これには以下のものが含まれます。:</p>
                <ul>
                    <li>ユーザー名として当社に提供したメールアドレス、またはログインに使用している場合はソーシャルメディアのアカウントと一緒に当社に提供したメールアドレス。</li>
                    <li>お客様が当社のウェブサイトやアプリケーションをご利用になる際のIPアドレスです。</li>
                    <li>金融口座を電撃予算に直接リンクすることを選択した場合、当社サービスにリンクした口座のログイン認証情報（ユーザー名とパスワードを含む）、それらの口座のセキュリティおよび/またはチャレンジの質問、および当社サービスにリンクしたその他の金融口座情報（口座残高、取引および保有情報を含む）が必要となります。</li>
                    <li>Su ubicación cuando registra una transacción en nuestras aplicaciones móviles y ha activado previamente los servicios de localización.</li>
                    <li>お客様が当社に連絡した場合、お客様の通信内容の記録とコピー（お客様のアカウントを確立するために使用された以外の電子メールアドレスを含む</li>
                    <li>研究目的でお願いすることがあるアンケートへのご回答。</li>
                    <li>当サイトを通じたお取引の詳細とご注文の履行について 当サイトからのご注文の際に、事前に財務情報をお尋ねする場合があります。</li>
                    <li>当サイトのフォームにご記入いただく際にご提供いただく情報です。これには、当サイトの利用登録時、当サイトのサービスへの加入時、その他のサービスの依頼時に提供される情報が含まれます。また、当社が主催するコンテストやプロモーションに参加する際や、当社のウェブサイトの不具合を報告する際に、情報をお聞きすることがあります。</li>
                    <li>電子メールまたはテキストチャットを介して質問や要求に答え、解決することを含む、カスタマーサポートまたはサービスの提供を提供すること。お客様が第三者の金融口座データのインポートに関して当社のカスタマーサポートチームに支援を要請する場合、カスタマーサポート担当者が口座集約サービスの技術的な実施を容易にすることを唯一の目的として、最近の取引データの限られた量を確認することができます。お客様のご要望に応じて、当社のカスタマーサポート担当者は、当社のサービス内で要求された口座集約の実施を容易にする目的で、第三者の金融口座プロバイダーとのやりとりの中で、お客様に代わってこの取引データを使用することがあります。</li>
                </ul>
                <h4>クッキーと技術データ</h4>
                <p>電撃予算では、訪問者や顧客がウェブサイトやアプリケーションを閲覧し、相互作用する際の情報を収集しています。</p>
                <h5>サイト訪問者</h5>
                <p>お客様が当社のウェブサイトを訪問された際に、当社のシステムがお客様が再度当社を訪問された際にお客様を認識するために、お客様のブラウザにクッキーを配置することがあります。また、第三者は、広告目的でお客様のブラウザにクッキーを置くことがあります。このクッキーにより、次回の訪問時にお客様のブラウザを認識することができます。お客様が訪問者である場合、データを収集したり、処理したりすることはありません。</p>
                <h5>登録ユーザー</h5>
                <p>当社では、お客様や他の訪問者がどのようにBlitzBudgetのウェブサイトやアプリケーションを閲覧しているかを分析し、サイトの利用状況や反応率の統計を取るために、サードパーティの分析サービスプロバイダー（以下に記載）の協力を得て、お客様が当社のサイトを閲覧する際に特定の情報を収集しています。この情報には、IPアドレス、デバイスの地理的位置、ブラウザの種類、ブラウザの言語、お客様のリクエストの日時、お客様の訪問時間、閲覧したページ、クリックしたページ要素（リンクなど）、およびその他の類似データが含まれます。当社では、このような情報の収集と分析に役立てるために、当社のサイトや電子メールでクッキー、ピクセルタグ、トラッキングスクリプトを使用することがあります。これらの情報は、当サイトのより良い、より関連性の高いコンテンツの提供、広告の効果測定、問題の特定とトラブルシューティング、および当サイトでのお客様の全体的な体験を向上させるために使用します。</p>
                <h5>クッキーのオプトアウト</h5>
                <p>ブラウザが受け入れるクッキーを制限したり、使用方法を制限したりする方法がいくつかあります。</p>
                <p>クッキーを制限する方法の一つとして、以下のような第三者のクッキー/広告ネットワークの使用をオプトアウトすることが挙げられます。 <a href="https://tools.google.com/dlpage/gaoptout">Google Analytics</a>. カナダやEUにお住まいの方は <a href="https://youradchoices.ca">DAAC’s youradchoices.ca</a>, o <a href="http://youronlinechoices.eu/">EDAA’s youronlinechoices.eu</a> をそれぞれ使用しています。広告やトラッキングを制限するために「広告ブロッカー」と呼ばれるものを使う人もいます。私たちは一切のサポートをしていません <em>particular</em> アドブロッカーですが、これを読んでいるあなたはおそらくプライバシーに配慮していると思いますので、選択肢の一つとして知っておいてほしいです。</p>
                <p>上記の方法でクッキーを使用しないことで、当社のサービス自体に問題が生じることはないと思いますが、お客様がどのようにしてBlitzBudgetを発見したのかがわからず、お客様がすでに当社のお客様であるかどうかもわからない場合があるため、当社の広告予算を効果的に使用することが難しくなります。とりわけ、それは、すでにファンであっても同じ広告を見せるのは恥ずかしいかもしれないということです。ブロックするサービスによっては、お客様が当社のアプリケーションをどのように使用しているか、または問題が発生しているかどうかを知ることが難しくなる場合があります。</p>
                <p>クッキーを制限するもう一つの方法は、ブラウザの設定でクッキーを制御することです（このようにしてクッキーを無効にすると、当社のサービスの一部を使用しているときの経験を壊したり、悪化させたりする可能性が高くなります）。.<br>
                    最も一般的なブラウザの説明は以下の通りです。</p>
                <ul>
                    <li>
                        <a href="https://support.google.com/chrome/answer/95647?hl=en-GB">Google Chrome</a>
                    </li>
                    <li>
                        <a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a>
                    </li>
                    <li>
                        <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy">Microsoft Edge</a>
                    </li>
                    <li>
                        <a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer#w_cookie-settings">Mozilla Firefox</a>
                    </li>
                    <li>
                        <a href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac">Safari (Desktop)</a>
                    </li>
                    <li>
                        <a href="https://support.apple.com/en-us/HT201265">Safari (Mobile)</a>
                    </li>
                    <li>
                        <a href="https://support.google.com/ics/nexus/bin/answer.py?hl=en&amp;answer=2425067">Android Browser</a>
                    </li>
                </ul>
                <h3>個人データの受取人</h3>
                <p><strong>ユーザーデータを販売することはありません。(そして、私たちは決してしたことがありません！)</strong></p>
                <p>当社は、お客様が提供された目的を達成するためにデータを共有します <a href="https://www.blitzbudget.com/ja/terms">利用規約</a>, 課金を含む。当社は、本プライバシーポリシーに記載されているように、当社が収集した個人情報、またはお客様が提供した個人情報を開示または譲渡することがあります:</p>
                <ul>
                    <li>請負業者、サービスプロバイダー、その他の第三者、特に分析インフラやサービスを提供することで当社の事業をサポートするために使用し、個人情報の機密性を維持し、当社が開示した目的のためにのみ使用する契約上の義務に拘束されている第三者。</li>
                    <li>お客様の銀行口座およびその他の金融口座の集計に関しては、当社はお客様の口座資格情報を第三者の集計パートナーに送信し、そのパートナーは、当社のサービスを提供するために使用されるお客様の口座残高、取引および在庫を収集および維持するためにそれらを使用します。</li>
                    <li>継続企業として、または破産、清算、または類似の手続きの一部として、当社ウェブサイトのユーザーについて当社が保有する個人情報が譲渡された資産の中に含まれているかどうかに関わらず、当社の資産の一部または全部の合併、売却、再編、再編、解散、またはその他の売却または譲渡の場合の購入者またはその他の後継者へ。</li>
                    <li>提供する目的を果たすこと。</li>
                    <li>集合的な形で、および／または個人を特定できない情報。</li>
                    <li>その他、お客様が情報を提供する際に当社が開示する目的のため</li>
                    <li>ご本人の同意を得て</li>
                </ul>
                <p>また、お客様の個人情報を開示することがあります:</p>
                <ul>
                    <li>政府または規制当局からの要請への対応を含め、裁判所の命令、法律または法的手続きに従うこと。</li>
                    <li>私たちの実施または適用のために <a href="https://www.blitzbudget.com/ja/terms">利用規約</a> または販売条件およびその他の契約（請求および回収目的を含む）。</li>
                    <li>バジェットブリッツ、お客様、その他の方の権利、財産、安全を守るために開示が必要、または適切であると判断した場合。これには、不正防止や信用リスク低減を目的とした他の企業や団体との情報交換も含まれます。</li>
                </ul>
                <h4>第三者の仕入先のカテゴリー</h4>
                <p>データ処理に使用したサービスのカテゴリには、以下のようなものがあります。</p>
                <h5>インフラとコンプライアンス</h5>
                <p>電撃予算はサードパーティと提携し、ウェブサイトやアプリケーションのインフラとなるストレージやサーバーへのアクセスを提供しています。また、当社は第三者と提携し、当社の条件を遵守した支払いや取引を行っています。</p>
                <h5>集計</h5>
                <p>電撃予算は、お客様が金融機関から金融情報を要求された場合に、第三者と提携して金融機関の金融情報を追加します。</p>
                <h5>アナリティクス</h5>
                <p>電撃予算は、第三者と提携してウェブサイトのトラフィックを監視・分析し、ユーザーの行動を追跡することで、サービスやユーザー体験の向上に役立てています。</p>
                <h5>カスタマーサポート</h5>
                <p>電撃予算では、カスタマーサービスと教育はサービスの基本であるため、第三者と提携して、カスタマーサービスのリクエストを受け、処理し、対応することを支援しています。</p>
                <h5>パフォーマンスと登録</h5>
                <p>電撃予算は、ウェブサイトやアプリケーションの安定性を監視し、サービスの問題やエラーを解決するために、第三者と提携しています。</p>
                <h4>マーケティング</h4>
                <p>電撃予算では、第三者と提携して、マーケティングメールの送信同意の受付と送信を管理しています。</p>
                <h3>データの保持</h3>
                <p>当社は、以下に説明するようにお客様がアカウントを削除しない限り、アカウントの有効期限が切れた後も、トライアルの有効期限またはサブスクリプションの有効期限のいずれかの期間、アカウントのデータを保持します。</p>
                <p>下記の期間を過ぎてアカウントが非アクティブになった場合、予算、ゴール、取引データを削除します（アカウントを解約された場合は、購読終了までアクティブな状態が続きますのでご注意ください）。以下に記載する期間は、その購読期間が満了するまでは開始されません）。</p>
                <p>アカウントとそのデータを削除させていただきます。</p>
                <ul>
                    <li>期限が切れた裁判の場合は、すぐに。</li>
                    <li>期限切れの定期購読の場合は、すぐに。</li>
                </ul>
                <p>削除後は、関連データの削除を確認できるようにメールアドレスをお預かりしております。</p>
                <h3>自動化されたデータ処理</h3>
                <p>第三者の決済処理業者と協力して、自動分析を使用して疑わしい取引や詐欺的な取引を検出しています。</p>
                <p>当社が、お客様に法的または重大な影響を与える自動化された決定のみを行う場合、お客様には、お客様の意見を提供し、当社のスタッフのメンバーがそれらの決定を検討する権利があります。</p>
                <h3>サードパーティのアプリケーションと統合</h3>
                <p>お客様が第三者のアプリケーション（当社のAPIに基づくOAuthアプリケーションなど）、プラグイン、または本サービスと統合するウェブサイトを使用することを選択した場合、それらのアプリケーションは、お客様の個人情報、写真、アクティビティデータ（プライベートアクティビティを含む）を含むお客様の情報やコンテンツを受信することがあります。これらの第三者が収集した情報は、その条件とポリシーに従うものとします。電撃予算は、第三者の規約やポリシーに責任を負いません。</p>
                <h3>13歳未満のお子様</h3>
                <p>当社のウェブサイトは、13歳未満のお子様（通常EUに居住している方は16歳）を対象としたものではありません。この年齢に満たない方は、当サイトに個人情報を提供することはできません。13歳未満の子供から故意に個人情報を収集することはありません。13歳未満の方は、本ウェブサイト上または本ウェブサイトの機能を利用して、またはその機能を介して情報を使用または提供したり、本ウェブサイトに登録したり、本ウェブサイトで購入したり、本ウェブサイトのインタラクティブ機能またはパブリックコメント機能を利用したり、または氏名、住所、電話番号、電子メールアドレス、または使用するスクリーンネームやユーザー名を含む自分自身に関する情報を当社に提供したりしてはいけません。保護者の同意を確認せずに13歳未満のお子様の個人情報を収集・提供したことが判明した場合は、その情報を削除します。13歳未満の子供からの、または13歳未満の子供についての情報があると思われる場合は、下記までご連絡ください。 <a href="mailto:admin@blitzbudget.com">admin@blitzbudget.com</a>.</p>
                <h3>あなたの権利</h3>
                <p>当社では、お客様の個人情報の管理を支援するために、いくつかの手続きを設けています。</p>
                <h4>削除</h4>
                <p>アカウントの設定にアクセスしてアカウントを削除することができます。これにより、メールでのやり取りを除いて、すべての個人情報が削除されます。お客様のアカウントに関連するすべてのデータを削除する処理には最大1日かかり、ログファイルは最大7日間保持されますのでご注意ください。</p>
                <h4>通知とメールの環境設定を調整する</h4>
                <p>電撃予算では、受信した通信を管理するためのいくつかの方法を提供しています。各種類のメールの下部にある指示に従って、メールやリストからの退会を選択することができます。管理またはサービスに関連した電子メール（購入の確認、本プライバシーポリシーの更新、または <a href="https://www.blitzbudget.com/ja/terms">利用規約</a>, 等) 通常、お客様が要求したサービスを提供するために必要なため、配信停止のオプションは提供していません。</p>
                <h4>アカウント情報の更新</h4>
                <p>お客様は、お客様の電子メールやパスワードをいつでも修正、修正、更新することができます <a href="https://app.blitzbudget.com/settings">アカウント設定</a>. アプリ内の個別口座設定から、いつでも金融機関からのお取引の追加を停止することができます <a href="https://app.blitzbudget.com/profile">BlitzBudget</a>.</p>
                <h4>移植性</h4>
                <p>お客様が当社と共有した情報には、以下の方法でアクセスすることができます <a href="https://app.blitzbudget.com/transactions">予算と取引履歴のエクスポート</a>.</p>
                <h4>同意に反対したり、制限したり、撤回したりすること</h4>
                <p>上記のような状況では、処理の同意を撤回することができます。当社が行うその他のデータ処理は、当社の利用規約の履行および/または当社の正当な利益および/または法的理由のために必要であり、処理を停止するためにはお客様のアカウントおよびデータを削除する必要があります。</p>
                <h4>EUからの訪問者と顧客の権利</h4>
                <p>アクセス権、削除、移植性、制限については以上の通りです。さらに、EUに通常居住しており、当社によるお客様の情報の使用について懸念を表明したい場合（お客様が有する他の権利を損なうことなく）、お客様は、地元の監督当局にそのように申し出る権利があります。</p>
                <h5>乗り換え</h5>
                <p>BlitzBudgetが提供するサービスは、ユーロ圏から運営されています。お客様がユーロ圏外に居住しており、本サービスの利用または当社への情報提供を選択した場合、お客様は、お客様の情報が、本サービスの提供および本サービスの実行に必要な限り、ユーロ圏で転送、処理、保存されることを認め、理解するものとします。 <a href="https://www.blitzbudget.com/ja/terms">利用規約</a>.</p>
                <h3>その他の読み物</h3>
                <p>私たちはこのあたりのセキュリティにかなり真剣に取り組んでおり、ユーザーデータを保護するための対策について詳しく説明しています <a href="https://www.blitzbudget.com/security">セキュリティポリシー</a>. より法的な読み方については、以下をご覧ください <a href="https://www.blitzbudget.com/ja/terms">利用規約</a>. ご不明な点がございましたら、下記までメールでお問い合わせください <a href="mailto:admin@blitzbudget.com">admin@blitzbudget.com</a>.</p>
            </div>
            <section class="Footer">
                <div class="features section footerContainer">
                    <div class="footerInternal">
                        <div class="footerInternal row">
                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader">サポート</header>
                                <span class="d-block">
                                    <a href="/ja/privacy" class="footerLink">個人情報保護方針</a>
                                </span>
                                <span class="d-block">
                                    <a href="/ja/terms" class="footerLink">ご利用条件</a>
                                </span>
                                <span class="d-block">
                                    <a href="https://help.blitzbudget.com" class="footerLink">ヘルプセンター</a>
                                </span>
                            </nav>

                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader" data-i18n="footer.company">カンパニー</header>
                                <span class="d-block">
                                    <a href="/careers" class="footerLink" data-i18n="footer.careers">キャリア</a>
                                </span>
                                <span class="d-block">
                                    <a href="/blog" class="footerLink">ブログ</a>
                                </span>
                                <span class="d-block">
                                    <a href="/press-kit" class="footerLink" data-i18n="footer.press">キットデプレンサ</a>
                                </span>
                            </nav>

                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader" data-i18n="footer.product">プロデュクト</header>
                                <span class="d-block">
                                    <a href="/blog/customer-stories" class="footerLink" data-i18n="footer.customerservice">お客様の声</a>
                                </span>
                                <span class="d-block">
                                    <a href="/premium" class="footerLink">電撃予算プラス</a>
                                </span>
                                <span class="d-block">
                                    <a href="https://app.blitzbudget.com" class="footerLink" data-i18n="header.getstarted">スタート</a>
                                </span>
                            </nav>
                        </div>
                    </div>
                    <div class="footerOther">
                        <div class="footerCopyright text-center">© <span id="currentYear">2020</span> BlitzBudget</div>
                        <a class="logoHeader" href="/">
                            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1472 325.89334" height="50" width="150" xml:space="preserve" id="svg2" version="1.1">
                                <metadata id="metadata8">
                                    <rdf:RDF>
                                        <cc:Work rdf:about="">
                                            <dc:format>image/svg+xml</dc:format>
                                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                        </cc:Work>
                                    </rdf:RDF>
                                </metadata>
                                <defs id="defs6" />
                                <g transform="matrix(1.3333333,0,0,-1.3333333,0,325.89333)" id="g10">
                                    <g transform="scale(0.1)" id="g12">
                                        <path id="path14" d="m 3571.24,1002.66 c 28.4,19.18 42.56,48.77 42.56,88.78 0,40.09 -14.16,69.53 -42.56,88.49 -28.39,18.89 -70.2,28.4 -125.35,28.4 H 3234.16 V 973.82 h 211.73 c 55.15,0 96.96,9.59 125.35,28.84 z m -337.08,467.68 v -226.35 h 193.9 c 49.75,0 88.04,9.59 114.79,28.78 26.74,19.25 40.15,47.5 40.15,84.81 0,36.79 -13.41,64.74 -40.15,83.92 -26.75,19.25 -65.04,28.84 -114.79,28.84 z m 389,-287.19 c 21.36,-24.34 32.07,-55.96 32.07,-94.93 0,-48.1 -17.6,-85.19 -52.74,-111.111 -35.15,-26 -87.37,-38.961 -156.6,-38.961 h -253.1 v 567.862 h 236.92 c 61.66,0 109.61,-12.59 143.93,-37.69 34.39,-25.18 51.55,-60.99 51.55,-107.52 0,-32.44 -8.54,-59.79 -25.55,-81.89 -17.01,-22.18 -40.16,-38.14 -69.38,-47.88 40.61,-7.57 71.55,-23.52 92.9,-47.88" />
                                        <path id="path16" d="m 4005.66,1506.01 h 41.36 V 975.469 h 326.97 v -37.321 h -368.33 v 567.862" />
                                        <path id="path18" d="m 4683.06,1506.01 h 41.35 V 938.148 h -41.35 v 567.862" />
                                        <path id="path20" d="m 5233.91,1468.7 h -204.48 v 37.31 h 450.3 V 1468.7 H 5275.26 V 938.148 h -41.35 V 1468.7" />
                                        <path id="path22" d="m 6181.48,975.469 v -37.321 h -457.56 v 29.223 l 391.85,501.329 h -386.98 v 37.31 h 443.78 v -29.22 L 5781.53,975.469 h 399.95" />
                                        <path id="path24" d="m 6847.49,1111.75 c 0,38.43 -28.17,57.62 -84.36,57.62 h -134.72 v -115.24 h 134.72 c 56.19,0 84.36,19.19 84.36,57.62 z m -219.08,278.27 v -109.54 h 110.37 c 54.01,0 81.06,18.43 81.06,55.22 0,36.19 -27.05,54.32 -81.06,54.32 z m 353.72,-208.89 c 18.36,-24.05 27.58,-53.12 27.58,-87.22 0,-49.74 -20.01,-88.18 -60.02,-115.23 -40.01,-27.039 -97.93,-40.532 -173.61,-40.532 h -306.66 v 567.862 h 290.4 c 72.47,0 127.68,-13.34 165.52,-40.16 37.83,-26.75 56.79,-62.86 56.79,-108.27 0,-27.05 -6.67,-51.25 -19.85,-72.6 -13.27,-21.35 -32.07,-38.29 -56.42,-50.72 32.44,-11.4 57.84,-29.08 76.27,-53.13" />
                                        <path id="path26" d="m 7361.41,995.77 c -46.84,45.93 -70.21,111.11 -70.21,195.48 v 314.76 h 160.64 v -309.89 c 0,-90.89 35.96,-136.29 107.89,-136.29 71.4,0 107.07,45.4 107.07,136.29 v 309.89 h 158.16 v -314.76 c 0,-84.37 -23.37,-149.55 -70.13,-195.48 -46.82,-46.008 -112.38,-69 -196.75,-69 -84.37,0 -149.93,22.992 -196.67,69" />
                                        <path id="path28" d="m 8398.59,1066.35 c 48.7,0 87.74,13.78 117.26,41.35 29.44,27.58 44.21,65.72 44.21,114.42 0,48.62 -14.77,86.76 -44.21,114.33 -29.52,27.57 -68.56,41.43 -117.26,41.43 h -101.37 v -311.53 z m -262.01,439.66 h 268.53 c 62.18,0 117.33,-11.62 165.51,-34.85 48.1,-23.3 85.42,-56.26 111.94,-98.97 26.44,-42.78 39.71,-92.76 39.71,-150.07 0,-57.4 -13.27,-107.38 -39.71,-150.08 -26.52,-42.78 -63.84,-75.751 -111.94,-98.981 -48.18,-23.297 -103.33,-34.911 -165.51,-34.911 h -268.53 v 567.862" />
                                        <path id="path30" d="M 9389.92,1234.26 H 9531.9 V 998.988 c -32.44,-23.226 -69.75,-41.129 -111.93,-53.566 -42.19,-12.442 -84.36,-18.652 -126.55,-18.652 -59.56,0 -113.06,12.57 -160.64,37.75 -47.65,25.171 -84.97,60.17 -111.94,105.05 -27.12,44.88 -40.61,95.75 -40.61,152.55 0,56.79 13.49,107.59 40.61,152.47 26.97,44.88 64.59,79.95 112.76,105.04 48.11,25.18 102.43,37.76 163.04,37.76 52.98,0 100.55,-8.91 142.81,-26.74 42.18,-17.91 77.33,-43.61 105.42,-77.1 l -102.19,-92.46 c -38.44,42.18 -84.37,63.24 -137.94,63.24 -48.63,0 -87.89,-14.76 -117.64,-44.21 -29.75,-29.44 -44.58,-68.85 -44.58,-118 0,-31.4 6.75,-59.42 20.23,-84 13.56,-24.65 32.45,-43.83 56.79,-57.61 24.36,-13.79 52.23,-20.68 83.62,-20.68 30.8,0 59.72,6.21 86.76,18.65 v 155.78" />
                                        <path id="path32" d="M 10292.9,1062.3 V 938.148 h -455.98 v 567.862 h 445.38 v -124.08 h -286.38 v -95.76 h 252.28 V 1166.15 H 9995.92 V 1062.3 h 296.98" />
                                        <path id="path34" d="m 10705.8,1378.64 h -174.5 v 127.37 h 508.7 v -127.37 h -173.6 V 938.148 h -160.6 v 440.492" />
                                        <path id="path36" d="M 197.598,98.8008 C 197.598,44.2305 153.363,0 98.7969,0 44.2344,0 0,44.2305 0,98.8008 c 0,54.5582 44.2344,98.8012 98.7969,98.8012 54.5661,0 98.8011,-44.243 98.8011,-98.8012" />
                                        <path id="path38" d="m 1866.07,1303.44 c -54.56,0 -98.79,-44.23 -98.79,-98.79 0,-5.74 0.75,-11.26 1.68,-16.73 l -430.2,-358.111 c -12.66,5.89 -26.63,9.429 -41.5,9.429 -14.93,0 -28.93,-3.558 -41.61,-9.476 L 815.414,1195.54 c 0.285,3.05 0.918,5.99 0.918,9.11 0,54.56 -44.23,98.79 -98.797,98.79 -54.566,0 -98.801,-44.23 -98.801,-98.79 0,-18.15 5.246,-34.94 13.786,-49.55 L 61.8867,119.129 135.703,78.4688 702.449,1107.37 c 4.953,-0.77 9.918,-1.52 15.086,-1.52 20.07,0 38.688,6.06 54.278,16.34 L 1201.87,764.891 c -2.01,-7.86 -3.41,-15.969 -3.41,-24.461 0,-54.559 44.23,-98.789 98.8,-98.789 54.56,0 98.79,44.23 98.79,98.789 0,8.519 -1.41,16.648 -3.44,24.531 l 425.19,353.969 c 14.33,-8.09 30.65,-13.08 48.27,-13.08 54.57,0 98.8,44.23 98.8,98.8 0,54.56 -44.23,98.79 -98.8,98.79" />
                                        <path id="path40" d="m 2233.55,1045.84 c -49.76,64.93 -111.34,119.06 -184.78,162.5 0.02,-1.26 0.37,-2.43 0.37,-3.7 0,-100.93 -82.13,-183.06 -183.07,-183.06 -10.12,0 -20.28,0.9 -30.32,2.63 L 1479.91,727.988 c -6.42,-95.168 -85.88,-170.636 -182.65,-170.636 -96.7,0 -176.16,75.378 -182.66,170.476 L 756.086,1025.69 c -0.906,-0.2 -1.813,-0.41 -2.719,-0.58 L 272.82,152.719 c 5.344,-17.16 9.039,-35.028 9.039,-53.9104 C 281.859,62.3594 270.875,28.5508 252.441,0 H 1346.7 c 325.72,0 575,58.0391 747.22,174.461 172.21,116.43 258.31,281.867 258.31,496 0,146.73 -39.66,271.848 -118.68,375.379" />
                                        <path id="path42" d="m 1989.11,2271.3 c -162.86,115.45 -400.54,172.86 -712.39,172.86 H 26.7422 V 266.988 c 7.8906,3.403 16.3203,5.621 24.7305,7.891 L 539.813,1161.43 c -3.54,14.16 -5.348,28.68 -5.348,43.21 0,100.93 82.133,183.07 183.062,183.07 90.032,0 165.086,-65.31 180.27,-151.06 L 1276.15,922.289 c 6.99,0.82 14.03,1.231 21.11,1.231 6.99,0 13.99,-0.411 20.9,-1.231 l 366.25,304.901 c 11.11,90.32 88.34,160.52 181.66,160.52 51.38,0 97.71,-21.43 130.99,-55.63 61.16,44.89 112.09,98.03 151.04,160.73 56.75,91.91 85.45,196.07 85.45,312.49 0,195.43 -81.58,350.88 -244.44,466" />
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </section>
        </article>
    </div>
</body>

</html>
