<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <title>Terms of Service | Blitz Budget</title>
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Terms of Service">
    <meta property="og:description" content="Welcome to the website of Blitz Budget LLC (“Company”, “we” or “us”). The following terms and conditions, together with any documents they expressly incorporate by reference (collectively, these “Terms of Service”), govern your access to and use of the financial planning software available through our apps, software, and the website.">
    <meta property="og:url" content="https://www.blitzbudget.com/es/terms">
    <meta property="og:site_name" content="Blitz Budget">
    <meta property="article:publisher" content="https://www.blitzbudget.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="blitzbudget">
    <meta name="twitter:domain" content="Blitz Budget">
    <meta name="twitter:title" content="Terms of Service">
    <meta name="twitter:description" content="Welcome to the website of Blitz Budget LLC (“Company”, “we” or “us”). The following terms and conditions, together with any documents they expressly incorporate by reference (collectively, these “Terms of Service”), govern your access to and use of the financial planning software available through our apps, software, and the website.">
    <meta name="twitter:url" content="https://www.blitzbudget.com/es/terms">

    <meta name="description" content="Welcome to the website of Blitz Budget LLC (“Company”, “we” or “us”). The following terms and conditions, together with any documents they expressly incorporate by reference (collectively, these “Terms of Service”), govern your access to and use of the financial planning software available through our apps, software, and the website.">
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <link rel="canonical" href="https://www.blitzbudget.com/es/terms">
    <link rel="shortcut icon" type="image/x-icon" sizes="64x64" href="img/business-name/favicon-business-name.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Didact+Gothic:300,400,500,700|Material+Icons" />

    <!-- CSS Files -->
    <link rel="stylesheet preload" href="/css/others.all.min.css" />
    <!--   Core JS Files   -->
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script defer nonce="2726d7e26r" src="/js/core-others.min.js" type="text/javascript"></script>
</head>

<body>
    <!-- Navigation -->
    <div class="navBarWrapper">
        <nav role="navigation" class="expandedNavigationBar">
            <div class="navigationBar">
                <a class="logoHeader" href="/">
                    <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1472 325.89334" height="50" width="150" xml:space="preserve" id="svg2" version="1.1">
                        <metadata id="metadata8">
                            <rdf:RDF>
                                <cc:Work rdf:about="">
                                    <dc:format>image/svg+xml</dc:format>
                                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                </cc:Work>
                            </rdf:RDF>
                        </metadata>
                        <defs id="defs6" />
                        <g transform="matrix(1.3333333,0,0,-1.3333333,0,325.89333)" id="g10">
                            <g transform="scale(0.1)" id="g12">
                                <path id="path14" d="m 3571.24,1002.66 c 28.4,19.18 42.56,48.77 42.56,88.78 0,40.09 -14.16,69.53 -42.56,88.49 -28.39,18.89 -70.2,28.4 -125.35,28.4 H 3234.16 V 973.82 h 211.73 c 55.15,0 96.96,9.59 125.35,28.84 z m -337.08,467.68 v -226.35 h 193.9 c 49.75,0 88.04,9.59 114.79,28.78 26.74,19.25 40.15,47.5 40.15,84.81 0,36.79 -13.41,64.74 -40.15,83.92 -26.75,19.25 -65.04,28.84 -114.79,28.84 z m 389,-287.19 c 21.36,-24.34 32.07,-55.96 32.07,-94.93 0,-48.1 -17.6,-85.19 -52.74,-111.111 -35.15,-26 -87.37,-38.961 -156.6,-38.961 h -253.1 v 567.862 h 236.92 c 61.66,0 109.61,-12.59 143.93,-37.69 34.39,-25.18 51.55,-60.99 51.55,-107.52 0,-32.44 -8.54,-59.79 -25.55,-81.89 -17.01,-22.18 -40.16,-38.14 -69.38,-47.88 40.61,-7.57 71.55,-23.52 92.9,-47.88" />
                                <path id="path16" d="m 4005.66,1506.01 h 41.36 V 975.469 h 326.97 v -37.321 h -368.33 v 567.862" />
                                <path id="path18" d="m 4683.06,1506.01 h 41.35 V 938.148 h -41.35 v 567.862" />
                                <path id="path20" d="m 5233.91,1468.7 h -204.48 v 37.31 h 450.3 V 1468.7 H 5275.26 V 938.148 h -41.35 V 1468.7" />
                                <path id="path22" d="m 6181.48,975.469 v -37.321 h -457.56 v 29.223 l 391.85,501.329 h -386.98 v 37.31 h 443.78 v -29.22 L 5781.53,975.469 h 399.95" />
                                <path id="path24" d="m 6847.49,1111.75 c 0,38.43 -28.17,57.62 -84.36,57.62 h -134.72 v -115.24 h 134.72 c 56.19,0 84.36,19.19 84.36,57.62 z m -219.08,278.27 v -109.54 h 110.37 c 54.01,0 81.06,18.43 81.06,55.22 0,36.19 -27.05,54.32 -81.06,54.32 z m 353.72,-208.89 c 18.36,-24.05 27.58,-53.12 27.58,-87.22 0,-49.74 -20.01,-88.18 -60.02,-115.23 -40.01,-27.039 -97.93,-40.532 -173.61,-40.532 h -306.66 v 567.862 h 290.4 c 72.47,0 127.68,-13.34 165.52,-40.16 37.83,-26.75 56.79,-62.86 56.79,-108.27 0,-27.05 -6.67,-51.25 -19.85,-72.6 -13.27,-21.35 -32.07,-38.29 -56.42,-50.72 32.44,-11.4 57.84,-29.08 76.27,-53.13" />
                                <path id="path26" d="m 7361.41,995.77 c -46.84,45.93 -70.21,111.11 -70.21,195.48 v 314.76 h 160.64 v -309.89 c 0,-90.89 35.96,-136.29 107.89,-136.29 71.4,0 107.07,45.4 107.07,136.29 v 309.89 h 158.16 v -314.76 c 0,-84.37 -23.37,-149.55 -70.13,-195.48 -46.82,-46.008 -112.38,-69 -196.75,-69 -84.37,0 -149.93,22.992 -196.67,69" />
                                <path id="path28" d="m 8398.59,1066.35 c 48.7,0 87.74,13.78 117.26,41.35 29.44,27.58 44.21,65.72 44.21,114.42 0,48.62 -14.77,86.76 -44.21,114.33 -29.52,27.57 -68.56,41.43 -117.26,41.43 h -101.37 v -311.53 z m -262.01,439.66 h 268.53 c 62.18,0 117.33,-11.62 165.51,-34.85 48.1,-23.3 85.42,-56.26 111.94,-98.97 26.44,-42.78 39.71,-92.76 39.71,-150.07 0,-57.4 -13.27,-107.38 -39.71,-150.08 -26.52,-42.78 -63.84,-75.751 -111.94,-98.981 -48.18,-23.297 -103.33,-34.911 -165.51,-34.911 h -268.53 v 567.862" />
                                <path id="path30" d="M 9389.92,1234.26 H 9531.9 V 998.988 c -32.44,-23.226 -69.75,-41.129 -111.93,-53.566 -42.19,-12.442 -84.36,-18.652 -126.55,-18.652 -59.56,0 -113.06,12.57 -160.64,37.75 -47.65,25.171 -84.97,60.17 -111.94,105.05 -27.12,44.88 -40.61,95.75 -40.61,152.55 0,56.79 13.49,107.59 40.61,152.47 26.97,44.88 64.59,79.95 112.76,105.04 48.11,25.18 102.43,37.76 163.04,37.76 52.98,0 100.55,-8.91 142.81,-26.74 42.18,-17.91 77.33,-43.61 105.42,-77.1 l -102.19,-92.46 c -38.44,42.18 -84.37,63.24 -137.94,63.24 -48.63,0 -87.89,-14.76 -117.64,-44.21 -29.75,-29.44 -44.58,-68.85 -44.58,-118 0,-31.4 6.75,-59.42 20.23,-84 13.56,-24.65 32.45,-43.83 56.79,-57.61 24.36,-13.79 52.23,-20.68 83.62,-20.68 30.8,0 59.72,6.21 86.76,18.65 v 155.78" />
                                <path id="path32" d="M 10292.9,1062.3 V 938.148 h -455.98 v 567.862 h 445.38 v -124.08 h -286.38 v -95.76 h 252.28 V 1166.15 H 9995.92 V 1062.3 h 296.98" />
                                <path id="path34" d="m 10705.8,1378.64 h -174.5 v 127.37 h 508.7 v -127.37 h -173.6 V 938.148 h -160.6 v 440.492" />
                                <path id="path36" d="M 197.598,98.8008 C 197.598,44.2305 153.363,0 98.7969,0 44.2344,0 0,44.2305 0,98.8008 c 0,54.5582 44.2344,98.8012 98.7969,98.8012 54.5661,0 98.8011,-44.243 98.8011,-98.8012" />
                                <path id="path38" d="m 1866.07,1303.44 c -54.56,0 -98.79,-44.23 -98.79,-98.79 0,-5.74 0.75,-11.26 1.68,-16.73 l -430.2,-358.111 c -12.66,5.89 -26.63,9.429 -41.5,9.429 -14.93,0 -28.93,-3.558 -41.61,-9.476 L 815.414,1195.54 c 0.285,3.05 0.918,5.99 0.918,9.11 0,54.56 -44.23,98.79 -98.797,98.79 -54.566,0 -98.801,-44.23 -98.801,-98.79 0,-18.15 5.246,-34.94 13.786,-49.55 L 61.8867,119.129 135.703,78.4688 702.449,1107.37 c 4.953,-0.77 9.918,-1.52 15.086,-1.52 20.07,0 38.688,6.06 54.278,16.34 L 1201.87,764.891 c -2.01,-7.86 -3.41,-15.969 -3.41,-24.461 0,-54.559 44.23,-98.789 98.8,-98.789 54.56,0 98.79,44.23 98.79,98.789 0,8.519 -1.41,16.648 -3.44,24.531 l 425.19,353.969 c 14.33,-8.09 30.65,-13.08 48.27,-13.08 54.57,0 98.8,44.23 98.8,98.8 0,54.56 -44.23,98.79 -98.8,98.79" />
                                <path id="path40" d="m 2233.55,1045.84 c -49.76,64.93 -111.34,119.06 -184.78,162.5 0.02,-1.26 0.37,-2.43 0.37,-3.7 0,-100.93 -82.13,-183.06 -183.07,-183.06 -10.12,0 -20.28,0.9 -30.32,2.63 L 1479.91,727.988 c -6.42,-95.168 -85.88,-170.636 -182.65,-170.636 -96.7,0 -176.16,75.378 -182.66,170.476 L 756.086,1025.69 c -0.906,-0.2 -1.813,-0.41 -2.719,-0.58 L 272.82,152.719 c 5.344,-17.16 9.039,-35.028 9.039,-53.9104 C 281.859,62.3594 270.875,28.5508 252.441,0 H 1346.7 c 325.72,0 575,58.0391 747.22,174.461 172.21,116.43 258.31,281.867 258.31,496 0,146.73 -39.66,271.848 -118.68,375.379" />
                                <path id="path42" d="m 1989.11,2271.3 c -162.86,115.45 -400.54,172.86 -712.39,172.86 H 26.7422 V 266.988 c 7.8906,3.403 16.3203,5.621 24.7305,7.891 L 539.813,1161.43 c -3.54,14.16 -5.348,28.68 -5.348,43.21 0,100.93 82.133,183.07 183.062,183.07 90.032,0 165.086,-65.31 180.27,-151.06 L 1276.15,922.289 c 6.99,0.82 14.03,1.231 21.11,1.231 6.99,0 13.99,-0.411 20.9,-1.231 l 366.25,304.901 c 11.11,90.32 88.34,160.52 181.66,160.52 51.38,0 97.71,-21.43 130.99,-55.63 61.16,44.89 112.09,98.03 151.04,160.73 56.75,91.91 85.45,196.07 85.45,312.49 0,195.43 -81.58,350.88 -244.44,466" />
                            </g>
                        </g>
                    </svg>
                </a>
                <ul class="navigationLinksContainer d-lg-block d-md-block d-none">
                    <li class="navigationLink">
                        <a class="headingUnstyledAnchor" href="https://learn.blitzbudget.com">
                            <span class="headingLinkName">学ぶ</span>
                        </a>
                    </li>
                    <li class="navigationLink">
                        <a class="headingUnstyledAnchor" href="https://help.blitzbudget.com">
                            <span class="headingLinkName">サポート</span>
                        </a>
                    </li>
                </ul>
                <div class="spacer"></div>
                <div class="expandedNavContent">
                    <div class="parentWrapperForMobileMenu">
                        <button id="mobileMenuButton" class="mobileMenuButton float-right d-lg-none d-md-none d-block">
                            <div class="mobileMenuBars"></div>
                        </button>
                        <div class="mobileBannerMenu">
                            <nav class="mobileBannerMenuNav">
                                <a href="https://learn.blitzbudget.com">学ぶ</a>
                                <a href="https://help.blitzbudget.com">サポート</a>
                                <a href="/premium">電撃予算プラス</a>
                                <a href="/blog">ブログ</a>
                            </nav>
                            <nav class="mobileBannerMenuSocialNav row">
                                <div class="col-6">
                                    <a href="https://app.blitzbudget.com" class="btn btn-outline-info btn-round mr-4">スタート</a>
                                </div>
                                <div class="col-6">
                                    <a href="https://app.blitzbudget.com" class="btn btn-info btn-round">ログイン</a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <a type="anchor" class="loginUnstyledAnchor d-lg-flex d-md-flex d-none" href="https://app.blitzbudget.com">
                        <span class="loginContent">
                            <span class="loginText">ログイン</span>
                        </span>
                    </a>
                    <div class="signupButtonWrapper d-lg-flex d-md-flex d-none">
                        <a type="anchor" class="text-decoration-none btn btn-info btn-round" href="https://app.blitzbudget.com">
                            <span class="signupContent">
                                <span class="signUpText">スタート</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="root">
        <section class="Hero mx-auto">
            <div class="productHero article-container">
                <div class="layoutContainer my-5 mx-lg-3 mx-1 row">
                    <div class="col-12">
                        <h1 class="headingInPrivacyHero pt-5 text-animation fadeIn text-center">利用規約<span class="">.</span></h1>
                        <p class="privacySubHeading mt-5 text-animation fadeInLeft text-center">最終更新日: 02 3月 2020</p>
                    </div>
                </div>
            </div>
        </section>
        <article class="mt-4 article-container">
            <div class="mx-auto">
                <div class="a-content sizing-mw-584 spacing-mx-auto">
                    <h2>利用規約への同意</h2>
                    <p>電撃バジェット合同会社（以下「当社」といいます）のウェブサイトへようこそ。以下の条件は、参照により明示的に組み込まれた文書（以下、総称して「利用規約」といいます）とともに、当社のアプリケーション、ソフトウェア、およびウェブサイトを通じて利用可能なファイナンシャル・プランニング・ソフトウェアへのアクセスおよびその使用に適用されます <a href="https://www.blitzbudget.com" target="_blank" rel="noreferrer noopener">blitzbudget.com</a>, ゲストまたは登録ユーザーであるかどうかに関わらず、お客様のサブスクリプション、機能性およびサービス（以下「本ウェブサイト」といいます）を管理するための教育資料および通信の受信を含む、関連するあらゆるコンテンツ。</p>
                    <p>ご利用の際は、利用規約をよくお読みになってからご利用ください。このオプションが利用可能になったときに、ウェブサイトを使用するか、利用規約に同意または同意するためにクリックすることで、利用者は本利用規約および当社の以下の事項を承諾し、遵守することに同意することになります <a href="https://www.blitzbudget.com/es/privacy" target="_blank" rel="noreferrer noopener">個人情報保護方針</a>, を参照することにより、ここに組み込まれます。本利用規約を承諾しない場合や <a href="https://www.blitzbudget.com/es/privacy/" target="_blank" rel="noreferrer noopener">個人情報保護方針</a>, ウェブサイトにアクセスしたり、使用したりしてはいけません。</p>
                    <p>本サイトは、13歳以上（欧州連合では16歳以上）の利用者に提供・利用可能なサイトです。このウェブサイトを利用することで、あなたは当社と拘束力のある契約を締結するための法定年齢に達していること、および上記の資格要件をすべて満たしていることを表明し、保証するものとします。これらの要件をすべて満たしていない場合は、当ウェブサイトにアクセスしたり、使用したりすることはできません。この年齢条件を満たしていない他人に代わって登録すること自体が、本規約の違反となります。</p>
                    <h2>サービス条件の変更</h2>
                    <p>当社は、当社の独自の裁量により、本利用規約を随時改定し、更新することがあります。すべての変更は、当社が掲示した時点で直ちに有効となり、その後の当サイトへのアクセスおよび利用にも適用されます。ただし、準拠法および管轄権に定められた紛争解決条項の変更は、変更がウェブサイトに掲載される前に当事者が実際に通知した紛争には適用されません。</p>
                    <p>改定された利用規約の掲載後、お客様が当サイトを継続してご利用された場合、お客様は変更内容を承諾し、同意されたものとします。このページはお客様を拘束するものであるため、変更があった場合には随時チェックすることをお勧めします。</p>
                    <h2>ウェブサイトへのアクセスとアカウントのセキュリティ</h2>
                    <p>当社は、本ウェブサイトおよび本ウェブサイト上で提供するサービスや資料を、当社の独自の裁量により、予告なしに撤回または変更する権利を留保します。当社は、理由の如何に関わらず、当サイトの全部または一部がいつでも、あるいは期間中に利用できなくなった場合でも、一切の責任を負いません。</p>
                    <p>当サイトや提供するリソースの一部にアクセスするために、特定の登録情報やその他の情報の提供を求められる場合があります。当サイトをご利用いただくには、当サイトで提供するすべての情報が正確、最新かつ完全であることが条件となります。お客様は、本ウェブサイトに登録するためにお客様が提供したすべての情報、または本ウェブサイトのインタラクティブ機能の使用を含むがこれに限定されない情報は、当社の <a href="https://www.blitzbudget.com/es/privacy/" target="_blank" rel="noreferrer noopener">個人情報保護方針</a>, に従い、当社がお客様の情報に関して行うすべての行動に同意することになります <a href="https://www.blitzbudget.com/es/privacy" target="_blank" rel="noreferrer noopener">個人情報保護方針</a>.</p>
                    <p>当社のセキュリティ手順の一環として、ユーザー名、パスワード、その他の情報を選択した場合、または提供された場合、そのような情報を機密情報として扱わなければならず、そのような機密情報は、ご自身のリスクと裁量でのみ開示するものとします。お客様が、お客様の裁量で、アクセスを共有する目的で、お客様のユーザー名、パスワード、またはその他のセキュリティ情報を他の個人または団体と共有することを選択した場合、そのような個人または団体がお客様のアカウントのセキュリティを危うくする可能性がある場合、当社は一切の責任を負いません。</p>
                    <p>ユーザー名やパスワードの不正アクセスや使用、その他のセキュリティ違反があった場合は、直ちに当社に通知することに同意するものとします。また、各セッションの終了時にアカウントを終了することに同意するものとします。パスワードやその他の個人情報を他人に見られたり、記録されたりしないように、公共のコンピュータや共有のコンピュータからアカウントにアクセスする場合は、特に注意が必要です。</p>
                    <p>当社は、利用者が本利用規約のいずれかの条項に違反したと当社が判断した場合、利用者が選択したか、または当社が提供したかにかかわらず、いつでもユーザー名、パスワード、またはその他の識別子を無効にする権利を有します。</p>
                    <p>当社は、本ウェブサイトまたは当社のサービスを通じて表示または報告された第三者のサイトから取得した財務データの正確性について責任を負いません。ただし、当社は、お客様に代わって当社が直接、第三者のテクノロジープロバイダー、お客様の口座が管理されている第三者の金融機関、または本サービスの提供に使用される第三者のマーケティング/リサーチデータプロバイダーから取得した金融口座情報の正確性または適時性について、責任を負わず、保証することはできません。</p>
                    <p>データが取得できない、カスタマイズ調整ができない、その他のサービスが中断するなどの技術的な問題やその他の困難を予見または予測することができない場合があります。当社は、利用者データの適時性、正確性、削除、不達、不保存、利用者データの紛失、通信、カスタマイズ設定等について、一切の責任を負わないものとします。</p>
                    <h2>お客様の代理人としての会社の限定行動</h2>
                    <p>第三者の金融口座から取引やデータを集計するウェブサイトサービスにアクセスして使用することにより、お客様は、お客様が法的拘束力のある顧客関係にある第三者の金融機関が保持するお客様の口座情報を電子的に取得することを明示的に許可し、当社に指示したものとみなされます。以下に記載されているように、当社の個人情報保護手続きに従うことを条件とします <a href="https://www.blitzbudget.com/es/privacy" target="_blank" rel="noreferrer noopener">個人情報保護方針</a>, 当社は、お客様のアカウント情報にアクセスしたり取得したりするために、1つまたは複数の第三者の金融サービス技術プロバイダと連携する場合があります。</p>
                    <p>本契約の目的のために、そしてサービスの一部としてアカウント情報を取得して提供するためだけに、お客様は当社に限定された弁護士の権限を与え、お客様とお客様の名前、場所、そしてあらゆる点において、お客様のために、代理権と再代理権の完全な権限を持つ、お客様の弁護士の事実上の代理人として当社を任命するものとします。第三者のサイト、サーバーまたは文書にアクセスし、情報を取得し、情報を使用するために、あなたが実際に行うのと同じように、すべての目的のために完全にすべての目的のために、これらの行為に関連して必要とされるすべての行為および義務を行い、実行するための完全な権限を持っています。</p>
                    <p>お客様は、当社が第三者のサイトからアカウント情報にアクセスして再送する際に、当社がお客様の代理人としてではなく、第三者の代理人として、または第三者のための代理人ではないことを認識し、同意するものとします。 お客様は、第三者のアカウント提供者が、お客様によって付与された上記の権限、権限、および委任状に依存する権利があることに同意するものとします。お客様は、当ウェブサイトが、当ウェブサイトを通じてアクセス可能な第三者のアカウントプロバイダーによって支持されたり、スポンサーされたりしていないことを理解するものとします。</p>
                    <h2 id="intellectual-property-rights">知的財産権</h2>
                    <p>本ウェブサイトおよびそのすべてのコンテンツ、機能、機能（すべての情報、ソフトウェア、テキスト、画面、画像、映像、音声、デザイン、選択、配置を含むが、これらに限定されない）は、当社、そのライセンサー、またはこれらの素材の他の提供者の所有物であり、欧州連合および国際的な著作権、商標、特許、企業秘密、その他の知的財産権または所有権に関する法律によって保護されています。</p>
                    <p>本利用規約は、お客様が当サイトを個人的な非営利目的の利用に限定して利用することを許可するものです。お客様は、当ウェブサイトの素材を複製、配布、変更、二次的著作物の作成、公に表示、公開、上演、再発行、ダウンロード、保存、または送信することはできません。</p>
                    <p>お客様は、本ウェブサイトのいかなる部分、または本ウェブサイトを通じて利用可能なサービスや素材にも、商業目的でアクセスしたり、使用したりしてはなりません。</p>
                    <p>利用規約に違反して本サイトの一部を印刷、コピー、修正、ダウンロード、使用、または他の人にアクセスを提供した場合、本サイトを使用する権利は直ちに停止するものとし、お客様は、当社の選択により、お客様が作成した資料のコピーを返却または破棄しなければなりません。本ウェブサイトまたはその中のコンテンツに関する権利、権原または利益は、お客様に譲渡されるものではなく、当社は明示的に付与されていないすべての権利を留保します。本利用規約で明示的に認められていない利用は、本利用規約に違反するものであり、著作権、商標、その他の法律に違反する可能性があります。</p>
                    <h2 id="trademarks">商標</h2>
                    <p>当社の名称、「電撃予算」という用語、当社のロゴ、および関連するすべての名称、ロゴ、商品名、サービス名、デザイン、スローガンは、当社または当社の関連会社またはライセンサーの商標です。当社の書面による事前の許可なく、これらのマークを使用することはできません。当サイトに掲載されているその他の名称、ロゴ、商品名、サービス名、デザイン、スローガンは、それぞれの所有者の商標です。</p>
                    <h2>禁止されている用途</h2>
                    <p>利用者は、適法な目的に限り、本利用規約に基づいて利用することができます。利用しないことに同意したものとします</p>
                    <ul>
                        <li>いかなる方法であれ、適用される連邦、州、地方、または国際的な法律や規制（EUやその他の国との間のデータやソフトウェアの輸出に関する法律を含むが、これに限定されない）に違反すること。</li>
                        <li>不適切なコンテンツに晒したり、個人を特定できる情報を要求したり、その他の方法で児童を搾取したり、危害を加えたり、または危害を加えようとする目的のため。</li>
                        <li>本利用規約に定められた規則を遵守しない素材を送信、故意に受信、アップロード、ダウンロード、使用、または再利用すること。</li>
                    </ul>
                    <p>さらに、あなたはそうしないことに同意します:</p>
                    <ul>
                        <li>お客様の個人情報を放置したり、送信したり、ログインやパスワードを掲示したりするなど、お客様の個人情報を不必要に危険にさらす行為。</li>
                        <li>当サイトを使用して、当サイトを無効にしたり、過大な負荷をかけたり、損害を与えたり、または当サイトを介したリアルタイムの活動への参加を含め、他者の当サイトの使用を妨害する可能性のある方法で当サイトを使用すること。</li>
                        <li>ロボット、スパイダー、その他の自動装置、プロセス、または手段を使用してウェブサイトにアクセスし、ウェブサイト上の資料を監視またはコピーすることを含む、いかなる目的でも使用すること。</li>
                        <li>当社の事前の書面による同意なしに、ウェブサイト上の素材を監視またはコピーするための手動プロセスを使用するか、またはその他の不正な目的のために使用すること。</li>
                        <li>ウェブサイトの正常な機能を妨害するデバイス、ソフトウェア、またはルーチンを使用しています。</li>
                        <li>悪質または技術的に有害なウイルス、トロイの木馬、ワーム、ロジックボム、その他の素材を導入すること。</li>
                        <li>ウェブサイトの一部、ウェブサイトが保存されているサーバー、またはウェブサイトに接続されているサーバー、コンピュータ、データベースへの不正アクセスを試みたり、妨害したり、損害を与えたり、混乱させたりすること。</li>
                        <li>それ以外の場合は、ウェブサイトの正常な機能を妨害するようにしてください。</li>
                    </ul>
                    <h2>ユーザー投稿</h2>
                    <p>本ウェブサイトには、メッセージボード、チャットルーム、ウェブページまたは個人プロフィール、フォーラム、掲示板、その他のインタラクティブ機能（以下、総称して「インタラクティブサービス」といいます）が含まれている場合があり、ユーザーは、本ウェブサイト上または本ウェブサイトを通じて、コンテンツまたは資料（以下、総称して「投稿」といいます）を投稿、送信、公開、表示、または他のユーザーまたは他の人に送信することができます。</p>
                    <p>すべてのユーザー投稿は、本利用規約に定められたコンテンツ基準を遵守しなければなりません。</p>
                    <p>あなたがサイトに投稿したユーザーの投稿は、機密性がなく、財産的なものではないとみなされます。本サイトでユーザー投稿を提供することにより、ユーザーは、当社、当社の関連会社、サービス提供者、およびそれぞれのライセンシー、後継者、譲受人に、いかなる目的であれ、ユーザーアカウントの設定に従って、そのような素材を使用、複製、修正、実行、表示、配布、およびその他の方法で他者に開示する権利を付与したことになります。</p>
                    <p>あなたは以下のことを表明し、保証します:</p>
                    <ul>
                        <li>ユーザーは、ユーザー投稿に対するすべての権利を所有または管理しており、当社、当社の関連会社およびサービスプロバイダ、ならびにそれぞれのライセンシー、後継者および譲受人に対して、上記で付与されたライセンスを付与する権利を有しています。</li>
                        <li>すべてのユーザー投稿は、本利用規約を遵守し、これに従うものとします。</li>
                    </ul>
                    <p>利用者は、利用者が投稿または提供したユーザー投稿に対して責任を負い、その合法性、信頼性、正確性、適切性を含めて、当社ではなく利用者自身がそのようなコンテンツに対して全責任を負うことを理解し、認めます。</p>
                    <p>当社は、お客様または当ウェブサイトの他のユーザーが投稿したユーザー投稿の内容や正確性について、第三者に対して責任を負いませんし、責任を負うこともありません。</p>
                    <h2>監視と執行; 解雇</h2>
                    <p>私たちにはその権利があります:</p>
                    <ul>
                        <li>理由の如何に関わらず、当社の独自の判断でユーザーの投稿を削除したり、投稿を拒否したりすることができます。</li>
                        <li>ユーザー投稿に関して、コンテンツ基準を含む利用規約に違反していると判断した場合、知的財産権その他の個人または団体の権利を侵害していると判断した場合、本サイトの利用者や公衆の安全を脅かしていると判断した場合、または当社に責任を負わせる可能性があると判断した場合を含め、当社が独自の裁量で必要または適切と判断した場合には、ユーザー投稿に対して何らかの措置を取ることができます。</li>
                        <li>あなたが投稿した素材が知的財産権やプライバシー権などの権利を侵害していると主張する人に、あなたの身元やその他の情報を開示してください。</li>
                        <li>ウェブサイトの違法または無許可の使用に対しては、法執行機関への照会を含むがこれに限定されない適切な法的措置を取ること。</li>
                        <li>理由の如何を問わず、本利用規約に違反した場合を含めて、ウェブサイトの全部または一部へのアクセスを停止または停止することができます。</li>
                    </ul>
                    <p>上記を制限することなく、当社は、当ウェブサイト上または当ウェブサイトを通じて資料を投稿した人の身元またはその他の情報の開示を要求または指示する法執行機関または裁判所の命令に全面的に協力する権利を有します。お客様は、調査中または調査の結果として会社/前出の当事者のいずれかがとった行動から生じるいかなる請求からも、また会社/前出の当事者または法律執行機関による調査の結果としてとった行動から生じるいかなる請求からも、会社およびその関連会社、ライセンシーおよびサービスプロバイダーを放棄し、解放することを誓います。</p>
                    <p>しかし、当社は、ウェブサイトに掲載される前にすべての素材を確認することを約束するものではなく、掲載後に不快な素材を速やかに削除することを保証するものではありません。したがって、当社は、ユーザーまたは第三者から提供された送信、通信、またはコンテンツに関する一切の行為または不作為について、一切の責任を負いません。当社は、本項に記載された活動の履行または不履行について、誰に対しても一切の責任を負いません。</p>
                    <h2>コンテンツの基準</h2>
                    <p>これらのコンテンツ基準は、すべてのユーザーによる投稿およびインタラクティブ・サービスの利用に適用されます。ユーザーの投稿は、適用されるすべての連邦、州、地方、および国際的な法律と規制を完全に遵守しなければなりません。上記を制限することなく、ユーザーの投稿は禁止されています。</p>
                    <ul>
                        <li>中傷的、わいせつ、下品、虐待、攻撃的、嫌がらせ、暴力的、憎悪的、扇動的、またはその他の好ましくないものが含まれていること。</li>
                        <li>人種、性別、宗教、国籍、障害、性的指向、年齢に基づく性的に露骨なまたはポルノ的な素材、暴力、または差別を助長すること。</li>
                        <li>他人の特許、商標、営業秘密、著作権、その他の知的財産権、その他の権利を侵害すること。</li>
                        <li>他者の法的権利（パブリシティ権およびプライバシー権を含む）を侵害したり、適用される法律や規制の下で民事上または刑事上の責任を生じさせる可能性のある資料を含んでいたり、本利用規約および当社の以下に抵触する可能性のある資料を含んでいたりすること <a href="https://blitzbudget.com/es/privacy" target="_blank" rel="noreferrer noopener">個人情報保護方針</a>.</li>
                        <li>誰が見ても馬鹿にならない.</li>
                        <li>違法行為を助長し、または助長し、または助長すること。</li>
                        <li>迷惑、不便、または不必要な不安を引き起こすか、または他の人を困らせる、恥ずかしい、警鐘を鳴らす、または妨害することが可能である。</li>
                        <li>人になりすましたり、自分の身元を偽ったり、個人や組織との関係を偽ったりすること。</li>
                        <li>コンテスト、懸賞やその他の販売促進、物々交換や広告などの商業活動や販売に関わること。</li>
                        <li>そうでない場合は、当社または他の個人や団体からの支持を受けているかのような印象を与えてください。</li>
                    </ul>
                    <h2>公表された情報への信頼</h2>
                    <p>当サイトでご紹介している情報は、一般的な情報提供のみを目的としています。この情報の正確性、完全性、有用性を保証するものではありません。このような情報に依拠することは、お客様ご自身の責任において行われるものとします。当社は、お客様や他のウェブサイトの訪問者、またはその内容を知らされている可能性のある人がそのような資料を信頼したことから生じるいかなる責任も負いません。</p>

                    <h2>あなたとあなたのウェブサイトへの訪問に関する情報</h2>
                    <p>このウェブサイトで収集したすべての情報は、当社の <a href="https://www.blitzbudget.com/es/privacy" target="_blank" rel="noreferrer noopener">個人情報保護方針</a>. 本ウェブサイトを利用することで、お客様は、本ウェブサイトに掲載されている個人情報に関して当社が行うすべての行為に同意したものとみなされます <a href="https://www.blitzbudget.com/es/privacy" target="_blank" rel="noreferrer noopener">個人情報保護方針</a>.</p>
                    <h2>オンラインショッピングとその他の条件</h2>
                    <p>当社のサイトを通じた購入、またはウェブサイトを通じて形成されたサービスや情報の他の販売取引、またはお客様の訪問の結果として形成されたすべての購入は、本利用規約に組み込まれている当社の販売規約に準拠します。</p>
                    <h2>ウェブサイトのリンク</h2>
                    <p>本サイトに第三者が提供する他のサイトやリソースへのリンクが含まれている場合、これらのリンクはお客様の便宜のためにのみ提供されています。バナー広告やスポンサードリンクなど、広告に含まれるリンクを含みます。当社は、これらのサイトやリソースの内容を管理することはできず、それらのサイトやリソースの利用によって生じた損失や損害については一切責任を負いません。本ウェブサイトにリンクされている第三者のウェブサイトにアクセスする場合、お客様はご自身の責任において、それらのウェブサイトの利用条件に従うものとします。</p>
                    <h2>保証の免責事項</h2>
                    <p>あなたは、我々ができないことを理解し、インターネットまたはウェブサイトからダウンロードできるファイルは、ウイルスやその他の破壊的なコードが含まれていないことを保証または保証しないことを理解しています。お客様は、ウイルス対策やデータの入出力の正確性に関するお客様の特定の要件を満たすために十分な手順とチェックポイントを実施し、失われたデータの再構築のために当社サイトの外部に手段を維持する責任を負うものとします。当社は、本ウェブサイトまたは本ウェブサイトから入手したサービスやアイテム、または本ウェブサイトに掲載されている資料のダウンロード、または本ウェブサイトにリンクされているウェブサイト上の資料のダウンロードに起因して、お客様のコンピュータ機器、ソフトウェア、データ、その他の技術的に有害な資料に感染する可能性のあるサービス攻撃、ウイルス、その他の分散型サービス拒否に起因するいかなる損失や損害に対しても責任を負いません。</p>
                    <p>当ウェブサイト、そのコンテンツ、および当ウェブサイトを通じて入手したサービスやアイテムの使用は、お客様ご自身の責任において行われるものとします。当ウェブサイト、そのコンテンツ、および当ウェブサイトを通じて入手したサービスやアイテムは、「現状のまま」および「利用可能な状態で」提供されており、明示的または黙示的を問わず、いかなる種類の保証もありません。当社または当社に関連するいかなる人も、当ウェブサイトの完全性、安全性、信頼性、品質、正確性または可用性に関して、いかなる保証または表明も行いません。前述したものに限らず、当社または当社と関連のある者は、ウェブサイト、そのコンテンツ、または当ウェブサイトを通じて入手したサービスやアイテムが正確で、信頼性があり、エラーがなく、中断されていないこと、欠陥が修正されていること、当ウェブサイトまたはそれを利用できるようにするサーバーにウイルスやその他の有害なコンポーネントがないこと、または当ウェブサイトまたは当ウェブサイトを通じて入手したサービスやアイテムがお客様のニーズや期待を満たすことを表明したり、保証したりしません。</p>
                    <p>当社は、明示的または暗黙的であるかを問わず、商品性、非侵害性、特定目的への適合性の保証を含むがこれらに限定されない、制定法またはその他の方法で、あらゆる種類のすべての保証を否認します。</p>
                    <p>前述は、適用される法律で除外または制限されない保証には影響しません。</p>
                    <h2>責任の制限</h2>
                    <p>いかなる場合においても、当社、その関連会社またはそのライセンサー、サービスプロバイダー、従業員、代理人、役員または指示者は、いかなる法的理論に基づき、お客様の使用、または使用不能、ウェブサイト、それにリンクされたウェブサイト、ウェブサイトまたはその他のウェブサイトのコンテンツ、またはウェブサイトまたはその他のウェブサイトから取得したサービスやアイテムの使用に起因または関連して、いかなる種類の損害に対しても責任を負うものではありません。直接的、間接的、特別、偶発的、必然的または懲罰的な損害を含み、これには人身事故、苦痛および苦痛、感情的苦痛、収入の喪失、利益の喪失、事業または予定されていた貯蓄の喪失、使用の喪失、善意の喪失、データの喪失などが含まれますが、これらに限定されず、不法行為（過失を含む）、契約違反、またはその他の原因によるものであれば、予見可能であったとしても、それが原因であるかどうかにかかわらず、損害は発生しません。</p>
                    <p>いかなる場合においても、当社およびその関連会社および子会社、ならびにそれらのライセンサー、サービスプロバイダー、従業員、代理人、役員および指示者の責任は、いかなる当事者に対しても（契約、不法行為またはその他の方法であるかにかかわらず、訴訟の形態にかかわらず）、責任が発生した過去2ヶ月間に適用されるコンテンツ、製品またはサービスのためにお客様が当社に支払った金額を超えるものではありません。</p>
                    <p>前述は、適用される法律の下で除外または制限されない責任には影響しません。</p>
                    <h2>報酬</h2>
                    <p>お客様は、当社、その関連会社、ライセンシー、サービスプロバイダ、およびそれぞれの役員、取締役、従業員、請負業者、代理人、ライセンサー、サプライヤー、後継者、譲受人を、あらゆる請求、責任、損害賠償、判決、賞、損失、費用から防御し、補償し、損害を与えないことに同意するものとします。利用者による本利用規約違反、または利用者による本ウェブサイトの利用に起因または関連して発生する費用または料金（合理的な弁護士費用を含む）。これには、利用者によるユーザー投稿、本利用規約で明示的に許可されていない本ウェブサイトのコンテンツ、サービスおよび製品の利用、または本ウェブサイトから取得した情報の利用が含まれますが、これらに限定されません。</p>

                    <h2>権利放棄と分離可能性</h2>
                    <p>当社が本利用規約に定める条件を放棄しても、当該条件の更なる放棄、継続的な放棄、または他の条件の放棄とはみなされず、当社が本利用規約に基づく権利または規定を行使しなかった場合でも、当該権利または規定の放棄とはみなされないものとします。</p>
                    <p>本利用規約のいずれかの条項が裁判所または管轄権を有するその他の法廷によって無効、違法または執行不能と判断された場合、その条項は削除されるか、または本利用規約の残りの条項を完全な効力を維持するために必要最小限に制限されるものとします。</p>
                    <h2>全体の合意</h2>
                    <p>利用規約と当社の <a href="https://www.blitzbudget.com/es/privacy" target="_blank" rel="noreferrer noopener">個人情報保護方針</a> y 販売条件は、本ウェブサイトに関するお客様とThe Blitz Budgetとの間の完全かつ唯一の合意を構成し、本ウェブサイトに関する書面および口頭による事前および同時のすべての理解、合意、表明および保証に取って代わるものです。</p>
                </div>
            </div>
            <section class="Footer">
                <div class="features section footerContainer">
                    <div class="footerInternal">
                        <div class="footerInternal row">
                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader">サポート</header>
                                <span class="d-block">
                                    <a href="/es/privacy" class="footerLink">個人情報保護方針</a>
                                </span>
                                <span class="d-block">
                                    <a href="/es/terms" class="footerLink">ご利用条件</a>
                                </span>
                                <span class="d-block">
                                    <a href="https://help.blitzbudget.com" class="footerLink">ヘルプセンター</a>
                                </span>
                            </nav>

                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader">カンパニー</header>
                                <span class="d-block">
                                    <a href="/careers" class="footerLink">キャリア</a>
                                </span>
                                <span class="d-block">
                                    <a href="/blog" class="footerLink">ブログ</a>
                                </span>
                                <span class="d-block">
                                    <a href="/press-kit" class="footerLink">プレスキット</a>
                                </span>
                            </nav>

                            <nav class="navWithHeader col-12 col-md-6 col-lg-4">
                                <header class="navWithHeader">製品</header>
                                <span class="d-block">
                                    <a href="/blog/customer-stories" class="footerLink">お客様の声</a>
                                </span>
                                <span class="d-block">
                                    <a href="/premium" class="footerLink">電撃予算プラス</a>
                                </span>
                                <span class="d-block">
                                    <a href="https://app.blitzbudget.com" class="footerLink">スタート</a>
                                </span>
                            </nav>
                        </div>
                    </div>
                    <div class="footerOther">
                        <div class="footerCopyright text-center">© <span id="currentYear">2020</span> BlitzBudget</div>
                        <a class="logoHeader" href="/">
                            <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1472 325.89334" height="50" width="150" xml:space="preserve" id="svg2" version="1.1">
                                <metadata id="metadata8">
                                    <rdf:RDF>
                                        <cc:Work rdf:about="">
                                            <dc:format>image/svg+xml</dc:format>
                                            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                        </cc:Work>
                                    </rdf:RDF>
                                </metadata>
                                <defs id="defs6" />
                                <g transform="matrix(1.3333333,0,0,-1.3333333,0,325.89333)" id="g10">
                                    <g transform="scale(0.1)" id="g12">
                                        <path id="path14" d="m 3571.24,1002.66 c 28.4,19.18 42.56,48.77 42.56,88.78 0,40.09 -14.16,69.53 -42.56,88.49 -28.39,18.89 -70.2,28.4 -125.35,28.4 H 3234.16 V 973.82 h 211.73 c 55.15,0 96.96,9.59 125.35,28.84 z m -337.08,467.68 v -226.35 h 193.9 c 49.75,0 88.04,9.59 114.79,28.78 26.74,19.25 40.15,47.5 40.15,84.81 0,36.79 -13.41,64.74 -40.15,83.92 -26.75,19.25 -65.04,28.84 -114.79,28.84 z m 389,-287.19 c 21.36,-24.34 32.07,-55.96 32.07,-94.93 0,-48.1 -17.6,-85.19 -52.74,-111.111 -35.15,-26 -87.37,-38.961 -156.6,-38.961 h -253.1 v 567.862 h 236.92 c 61.66,0 109.61,-12.59 143.93,-37.69 34.39,-25.18 51.55,-60.99 51.55,-107.52 0,-32.44 -8.54,-59.79 -25.55,-81.89 -17.01,-22.18 -40.16,-38.14 -69.38,-47.88 40.61,-7.57 71.55,-23.52 92.9,-47.88" />
                                        <path id="path16" d="m 4005.66,1506.01 h 41.36 V 975.469 h 326.97 v -37.321 h -368.33 v 567.862" />
                                        <path id="path18" d="m 4683.06,1506.01 h 41.35 V 938.148 h -41.35 v 567.862" />
                                        <path id="path20" d="m 5233.91,1468.7 h -204.48 v 37.31 h 450.3 V 1468.7 H 5275.26 V 938.148 h -41.35 V 1468.7" />
                                        <path id="path22" d="m 6181.48,975.469 v -37.321 h -457.56 v 29.223 l 391.85,501.329 h -386.98 v 37.31 h 443.78 v -29.22 L 5781.53,975.469 h 399.95" />
                                        <path id="path24" d="m 6847.49,1111.75 c 0,38.43 -28.17,57.62 -84.36,57.62 h -134.72 v -115.24 h 134.72 c 56.19,0 84.36,19.19 84.36,57.62 z m -219.08,278.27 v -109.54 h 110.37 c 54.01,0 81.06,18.43 81.06,55.22 0,36.19 -27.05,54.32 -81.06,54.32 z m 353.72,-208.89 c 18.36,-24.05 27.58,-53.12 27.58,-87.22 0,-49.74 -20.01,-88.18 -60.02,-115.23 -40.01,-27.039 -97.93,-40.532 -173.61,-40.532 h -306.66 v 567.862 h 290.4 c 72.47,0 127.68,-13.34 165.52,-40.16 37.83,-26.75 56.79,-62.86 56.79,-108.27 0,-27.05 -6.67,-51.25 -19.85,-72.6 -13.27,-21.35 -32.07,-38.29 -56.42,-50.72 32.44,-11.4 57.84,-29.08 76.27,-53.13" />
                                        <path id="path26" d="m 7361.41,995.77 c -46.84,45.93 -70.21,111.11 -70.21,195.48 v 314.76 h 160.64 v -309.89 c 0,-90.89 35.96,-136.29 107.89,-136.29 71.4,0 107.07,45.4 107.07,136.29 v 309.89 h 158.16 v -314.76 c 0,-84.37 -23.37,-149.55 -70.13,-195.48 -46.82,-46.008 -112.38,-69 -196.75,-69 -84.37,0 -149.93,22.992 -196.67,69" />
                                        <path id="path28" d="m 8398.59,1066.35 c 48.7,0 87.74,13.78 117.26,41.35 29.44,27.58 44.21,65.72 44.21,114.42 0,48.62 -14.77,86.76 -44.21,114.33 -29.52,27.57 -68.56,41.43 -117.26,41.43 h -101.37 v -311.53 z m -262.01,439.66 h 268.53 c 62.18,0 117.33,-11.62 165.51,-34.85 48.1,-23.3 85.42,-56.26 111.94,-98.97 26.44,-42.78 39.71,-92.76 39.71,-150.07 0,-57.4 -13.27,-107.38 -39.71,-150.08 -26.52,-42.78 -63.84,-75.751 -111.94,-98.981 -48.18,-23.297 -103.33,-34.911 -165.51,-34.911 h -268.53 v 567.862" />
                                        <path id="path30" d="M 9389.92,1234.26 H 9531.9 V 998.988 c -32.44,-23.226 -69.75,-41.129 -111.93,-53.566 -42.19,-12.442 -84.36,-18.652 -126.55,-18.652 -59.56,0 -113.06,12.57 -160.64,37.75 -47.65,25.171 -84.97,60.17 -111.94,105.05 -27.12,44.88 -40.61,95.75 -40.61,152.55 0,56.79 13.49,107.59 40.61,152.47 26.97,44.88 64.59,79.95 112.76,105.04 48.11,25.18 102.43,37.76 163.04,37.76 52.98,0 100.55,-8.91 142.81,-26.74 42.18,-17.91 77.33,-43.61 105.42,-77.1 l -102.19,-92.46 c -38.44,42.18 -84.37,63.24 -137.94,63.24 -48.63,0 -87.89,-14.76 -117.64,-44.21 -29.75,-29.44 -44.58,-68.85 -44.58,-118 0,-31.4 6.75,-59.42 20.23,-84 13.56,-24.65 32.45,-43.83 56.79,-57.61 24.36,-13.79 52.23,-20.68 83.62,-20.68 30.8,0 59.72,6.21 86.76,18.65 v 155.78" />
                                        <path id="path32" d="M 10292.9,1062.3 V 938.148 h -455.98 v 567.862 h 445.38 v -124.08 h -286.38 v -95.76 h 252.28 V 1166.15 H 9995.92 V 1062.3 h 296.98" />
                                        <path id="path34" d="m 10705.8,1378.64 h -174.5 v 127.37 h 508.7 v -127.37 h -173.6 V 938.148 h -160.6 v 440.492" />
                                        <path id="path36" d="M 197.598,98.8008 C 197.598,44.2305 153.363,0 98.7969,0 44.2344,0 0,44.2305 0,98.8008 c 0,54.5582 44.2344,98.8012 98.7969,98.8012 54.5661,0 98.8011,-44.243 98.8011,-98.8012" />
                                        <path id="path38" d="m 1866.07,1303.44 c -54.56,0 -98.79,-44.23 -98.79,-98.79 0,-5.74 0.75,-11.26 1.68,-16.73 l -430.2,-358.111 c -12.66,5.89 -26.63,9.429 -41.5,9.429 -14.93,0 -28.93,-3.558 -41.61,-9.476 L 815.414,1195.54 c 0.285,3.05 0.918,5.99 0.918,9.11 0,54.56 -44.23,98.79 -98.797,98.79 -54.566,0 -98.801,-44.23 -98.801,-98.79 0,-18.15 5.246,-34.94 13.786,-49.55 L 61.8867,119.129 135.703,78.4688 702.449,1107.37 c 4.953,-0.77 9.918,-1.52 15.086,-1.52 20.07,0 38.688,6.06 54.278,16.34 L 1201.87,764.891 c -2.01,-7.86 -3.41,-15.969 -3.41,-24.461 0,-54.559 44.23,-98.789 98.8,-98.789 54.56,0 98.79,44.23 98.79,98.789 0,8.519 -1.41,16.648 -3.44,24.531 l 425.19,353.969 c 14.33,-8.09 30.65,-13.08 48.27,-13.08 54.57,0 98.8,44.23 98.8,98.8 0,54.56 -44.23,98.79 -98.8,98.79" />
                                        <path id="path40" d="m 2233.55,1045.84 c -49.76,64.93 -111.34,119.06 -184.78,162.5 0.02,-1.26 0.37,-2.43 0.37,-3.7 0,-100.93 -82.13,-183.06 -183.07,-183.06 -10.12,0 -20.28,0.9 -30.32,2.63 L 1479.91,727.988 c -6.42,-95.168 -85.88,-170.636 -182.65,-170.636 -96.7,0 -176.16,75.378 -182.66,170.476 L 756.086,1025.69 c -0.906,-0.2 -1.813,-0.41 -2.719,-0.58 L 272.82,152.719 c 5.344,-17.16 9.039,-35.028 9.039,-53.9104 C 281.859,62.3594 270.875,28.5508 252.441,0 H 1346.7 c 325.72,0 575,58.0391 747.22,174.461 172.21,116.43 258.31,281.867 258.31,496 0,146.73 -39.66,271.848 -118.68,375.379" />
                                        <path id="path42" d="m 1989.11,2271.3 c -162.86,115.45 -400.54,172.86 -712.39,172.86 H 26.7422 V 266.988 c 7.8906,3.403 16.3203,5.621 24.7305,7.891 L 539.813,1161.43 c -3.54,14.16 -5.348,28.68 -5.348,43.21 0,100.93 82.133,183.07 183.062,183.07 90.032,0 165.086,-65.31 180.27,-151.06 L 1276.15,922.289 c 6.99,0.82 14.03,1.231 21.11,1.231 6.99,0 13.99,-0.411 20.9,-1.231 l 366.25,304.901 c 11.11,90.32 88.34,160.52 181.66,160.52 51.38,0 97.71,-21.43 130.99,-55.63 61.16,44.89 112.09,98.03 151.04,160.73 56.75,91.91 85.45,196.07 85.45,312.49 0,195.43 -81.58,350.88 -244.44,466" />
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
            </section>
        </article>
    </div>
</body>

</html>
