.card-testimonial {
    @extend %card-profile;

    .card-body {
        padding-top: 25px;
    }

    .card-avatar {
        max-width: 100px;
        max-height: 100px;
        margin-top: -50px;
    }

    .card-footer {
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

    .card-description {
        &+.card-title {
            margin-top: 30px;
        }
    }

    .icon {
        em {
            font-size: 32px;
        }

        &.icon-primary em {
            color: $primary-color;
        }

        &.icon-info em {
            color: $info-color;
        }

        &.icon-danger em {
            color: $danger-color;
        }

        &.icon-warning em {
            color: $warning-color;
        }

        &.icon-success em {
            color: $success-color;
        }
    }

    & .card-description+.card-title {
        margin-top: 20px;
    }
}