@charset "UTF-8";

/*!
 =========================================================
 * Custom CSS - v1.0
 =========================================================
* 
* Author: Nagarjun Nagesh
* 
* All the Custom CSS for EveryRupee gos in here
*/

.expandedNavigationBar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
    height: 64px;
}

.navigationBar {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 64px;
}

.logoHeader {
    color: inherit;
    padding-left: 24px;
    text-decoration: none;
}

.navigationLinksContainer {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navigationLink {
    display: inline-block;
    margin-left: 48px;
    white-space: nowrap;
}

.headingUnstyledAnchor {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: unset;
    text-align: start;
}

.headingLinkName {
    font-family: "Didact Gothic","Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: normal;
    color: rgb(4, 13, 20);
    margin: 0px;
    text-decoration: unset;
}

.spacer {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.expandedNavContent {
    padding-right: 1.4rem;
    display: flex;
}

.loginUnstyledAnchor {
    color: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    position: static;
    white-space: nowrap;
    cursor: pointer;
    text-align: start;
    text-decoration: none;
    overflow: hidden;
    border-color: rgb(4, 13, 20);
    -webkit-transition: color .2s linear; 
	-moz-transition: color .2s linear;    
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

.loginContent {
    position: static;
    visibility: inherit;
}

.loginText {
	font-family: "Didact Gothic","Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
    color: rgb(4, 13, 20);
    margin: 0px;
    text-decoration: unset;
}

.signupButtonWrapper {
    margin-left: 30px;
}

.signupContent {
    position: relative;
    visibility: inherit;
}

.signUpText {
    font-family: "Didact Gothic","Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
    color: #fff;
    margin: 0px;
    text-decoration: unset;
    -webkit-transition: color .3s linear; 
	-moz-transition: color .3s linear;    
	-ms-transition: color .3s linear;
	-o-transition: color .3s linear;
	transition: color .3s linear;
}

.navBarWrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1060;
}

.btn.btn-info:hover .signUpText {
	color: #fff;
}

a.text-decoration-none, .text-decoration-none {
	text-decoration: none;
}

.loginUnstyledAnchor:hover .loginText, 
.headingUnstyledAnchor:hover .headingLinkName, 
.headingUnstyledAnchor:hover .headingLinkName {
	color: #008697;
}

.productHero {
	background: linear-gradient(145deg, #0c95a7, #e5fafd);
    position: relative;
    overflow: hidden;
    padding: 112px 32px 240px;
}



.headingInProductHero {
    font-family: "Didact Gothic","Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.8rem;
    letter-spacing: -1.44px;
    color: #fff;
    margin: 0px;
    text-decoration: unset;
}

.layoutContainer {
    box-sizing: border-box;
    max-width: 1024px;
    width: 100%;
    margin: 0px auto;
}

.layoutSubHeading {
    font-family: "Didact Gothic","Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: normal;
    color: rgb(4, 13, 20);
    margin: 0px;
    text-decoration: unset;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eeeeee;
  border-radius: 0.25rem;
}


.card {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card {
  box-shadow: 0 10px 28px 0 hsla(210,8%,54%,.2);
}


@media (min-width: 992px) {
    .features {
        margin-top:115px
    }
}

.card.featureIcon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #00aec5;
    font-size: 38px;
    text-shadow: 1px 1px 10px rgba(18,196,139,.2);
}

.card-title {
    line-height: 32px;
    line-height: 2rem;
}

.card-title {
    color: #344554;
    font-weight: 700;
    font-size: 20px;
    font-size: 1.25rem;
}

.card-body p {
    color: #6c767f;
    font-size: 16px;
    font-size: 1rem;
}
.card-body p {
    line-height: 32px;
    line-height: 2rem;
}

#showAccounts {
    fill: #00aec5;
}

@-webkit-keyframes FadeInRight {
    from {
        -webkit-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInRight {
    from {
        -webkit-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes FadeInLeft {
    from {
        -webkit-transform: translate3d(-75px, 0, 0);
        transform: translate3d(-75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInLeft {
    from {
        -webkit-transform: translate3d(-75px, 0, 0);
        transform: translate3d(-75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}


@-webkit-keyframes FadeInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes FadeInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes FadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes FadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes SlideInRight {
    0% {
        -webkit-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes SlideInRight {
    0% {
        -webkit-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0)
    }

    100% {
        -webkit-transform: none;
        transform: none
    }
}

.text-underline {
    text-decoration: underline;
}

.color-white, 
a.color-white,
a:-webkit-any-link.color-white {
    color: #fff;
    -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
    transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
}

.delay-12 {
    -webkit-animation-delay: .72s;
    animation-delay: .72s;
}

.delay-13 {
    -webkit-animation-delay: .84s;
    animation-delay: .84s;
}

.delay-14 {
    -webkit-animation-delay: .96s;
    animation-delay: .96s;
}

.delay-9 {
    -webkit-animation-delay: .56s;
    animation-delay: .56s;   
}

.signInSug {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.signUpUnstyledAnchor {
    color: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    height: 56px;
    min-width: 162px;
    background-color: rgb(36, 42, 45);
    text-decoration: none;
    overflow: hidden;
    padding: 0px 16px;
    border-radius: 8px;
    border-color: rgb(36, 42, 45);
}


.shape ul {
    margin-top: 23px;
    padding-left: 30px
}

.shape li {
    position: relative;
    list-style: none;
    color: #6c767f;
    font-size: 16px;
    font-size: 1rem;
    line-height: 34px;
    line-height: 1.625rem;
    margin-bottom: 1.28rem;
}

.shape li:before {
    position: absolute;
    display: block;
    width: 14px;
    height: 7px;
    content: "";
    top: 10px;
    left: -30px;
    border-bottom: 2px solid #00bcd4;
    border-left: 2px solid #00bcd4;
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.stepSubHeading {
    color: #00bcd4;
    text-shadow: 0 4px 8px #dae9ea;
    font-weight: 600;

}

.delay-1 {
    -webkit-animation-delay: .06s;
    animation-delay: .06s;
}

a.color-white:hover {
    color: #f3f1f1;
    font-weight: 500;
}

.navWithHeader a:hover,
.footerInternal a:-webkit-any-link:hover,
a.color-white:hover {
    text-decoration: underline;
}

.playstoreIcon {
  width:auto; 
  height:56px;
}

.playStoreApps h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.15;
    margin-bottom: 16px;
    font-family: "Didact Gothic","Roboto", "Helvetica", "Arial", sans-serif;
}

@media (min-width: 768px) {
    .playStoreApps h3 {
        font-weight: 700;
        font-size: 54px;
        line-height: 1.15;
        max-width: 400px;
    }    
}

.playstoreContent {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #344554;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (min-width: 768px) {
    .footerInternal nav {
        padding-top: 0;
    }    
}


.footerInternal nav {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    padding: 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
} 

.footerInternal header {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.15;
    margin-bottom: 8px;
    color: #495257;
    letter-spacing: 1px;
}  


.footerInternal a:-webkit-any-link {
    color: #69757a;
    text-decoration: none;
}

.footerInternal span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    margin-bottom: 8px;
    white-space: nowrap;
}



.footerContainer {
    margin: auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 16px 128px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.footerInternal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(25.46296vw + 204.44444px);
    max-width: 510px;
    padding: 64px 0 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

@media (min-width: 768px) {
    .footerContainer {
        padding: 8rem 5rem 2rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footerOther {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footerInternal {
        padding: 1rem 1rem;
        margin-right: 5rem;
    }    
}

@media (min-width: 1200px) {
    .footerContainer {
        max-width: 1200px;
    }    
}

a.button, a:-webkit-any-link.button {
    display: inline-block;
    min-width: 274px;
    padding: 19px 25px;
    line-height: 1.375em;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all .28s cubic-bezier(.4,0,.2,1);
}

a.button:active, a.button:focus, a.button:hover {
    outline: none;
}

@media (min-width: 992px) {
    a.button.btn-info:hover:not(.is-disabled) {
        background-color: #009aae;
        box-shadow: 0 6px 10px 0 rgba(162, 232, 241, 0.5);
    }    

    a.button.btn-info:hover {
        text-decoration: none;
        color: #fff;
    }
}

/**
*
*  Chartist JS
*
*
**/


.ct-series-a .ct-area, 
.ct-series-a .ct-slice-donut-solid, 
.ct-series-a .ct-slice-pie {
    fill: #00bcd4;
}

.ct-area {
    stroke: none;
    fill-opacity: .1;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #00bcd4;
}

.ct-line {
    stroke-width: 4px;
}

.ct-grid-background, .ct-line {
    fill: none;
}

.ct-label.ct-horizontal.ct-end {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    text-align: left;
    text-anchor: start;
}
.ct-chart-bar .ct-label, .ct-chart-line .ct-label {
    display: block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ct-label {
    fill: rgba(0,0,0,.4);
    color: rgba(0,0,0,.4);
    font-size: .75rem;
    line-height: 1;
}

/**
*
* Budgeet Element
*
**/

.progress {
    height: 5px;
    margin-top: .5rem;
}

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 1rem;
    box-shadow: inset 0 0.1rem 0.1rem rgba(0,0,0,0.1);
    background-color: #ecf9fe;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: width .6s ease;
    -moz-transition: width .6s ease;
    -ms-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress .progress-bar.progress-bar-budget-striped {
    background: #e91e63;
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    border-radius: 1rem;
}

.headingDiv, 
.budgetAmountEntered {
    color: #495257;
}

.mild-text {
    color: #999;
}

.mild-text-budget {
    color: #fd679a;
    font-weight: 700;
}

.deleteIconWrapper {
    color: #999;
}

.deleteIconWrapper:hover {
    color: #fd679a;
}


@keyframes material-spinner {
    /* "material-spinner" is the name
    of the animation. Each percentage
    represents an individual step
    in the animation. The transform
    rotation needs to increase from
    0 throughout. If you did 
    "rotate(0deg)" then 
    "rotate(180deg)" and then 
    "rotate(0deg)" back again,
    instead of continously spinning
    right, it would spin right,
    then left, then right.*/ 
    0% {
        transform: rotate(0deg);
        border-top: 5px #3F51B5 solid;
    }
    25% {
        transform: rotate(360deg);
        border-top: 5px #F44336 solid;
    }
    50% {
        transform: rotate(720deg);
        border-top: 5px #FFC107 solid;
    }
    75% {
        transform: rotate(1080deg);
        border-top: 5px #4CAF50 solid;
    }
    100% {
        transform: rotate(1440deg);
        border-top: 5px #3F51B5 solid;
    }
}

.material-spinner-medium {
    /* The height and width can be
    whatever you want, so long as
    you adjust the border radius
    to compensate. I added a 
    "max-height" because for some
    reason the spinner was
    "squishing" when I resized the
    screen vertically. "max-height"
    fixed this. */
    height: 25px;
    min-height: 25px;
    width: 25px;
    /* "border-radius" defines how
    much "curve" there is on the
    edge of a square element. If
    you give it enough curve, it
    makes the element appear to be
    circular. */
    border-radius: 100px;
    /* So there's a five pixel
    transparent solid border
    around a 50px square box, which
    has edges curved so much that
    it looks circular... */
    border: 5px transparent solid;
    /* ... with one side, the top
    border, given a color. This
    creates the quarter-circle 
    curve. */
    border-top: 5px #3F51B5 solid;
    /* "animation" specifies an
    animation to use on the element,
    including how long the animation
    should take, how many times it 
    should play, and even whether 
    or not it should ease into the
    different steps of the animation.
    By default the animation eases,
    which is what we want for our
    Google-esque spinner, so we 
    don't need to set that. 
    
    The "material-spinner" part is
    the name of the animation that 
    we want to use. We could've
    called it "funky-bunny" or
    anything else so long as we 
    use the same name when
    specifying the keyframes. */
    animation: material-spinner 4s infinite;
}

.material-spinner-small {
    margin-left: 0.5rem;
    height: 10px;
    min-height: 10px;
    width: 10px;
    border-radius: 4px;
    border: 0.7px transparent solid;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 2px;
    border-top: 0.7px #3f51b5 solid;
    animation: material-spinner 4s infinite;
}

.deleteBudget {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 600ms, visibility 600ms;
    -webkit-transition: opacity 600ms, visibility 600ms;
}

.card:hover .deleteBudget {
    visibility: visible;
    opacity: 1;
}

#cardCategoryId-5.card.mt-minus-3 {
    margin-top: -3rem;
}

.text-warning {
  color: #ff9800 !important;
}

.progress .progress-bar.progress-bar-warning-striped {
    background: #ff9800;
    background-image: linear-gradient(45deg,rgba(255,255,255,0.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.15) 50%,rgba(255,255,255,0.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
    border-radius: 1rem;
}


.logoHeader #path14,
.logoHeader #path16,
.logoHeader #path18,
.logoHeader #path20,
.logoHeader #path22,
.logoHeader #path42 {
    fill:#43b2c6;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
}

.logoHeader #path24,
.logoHeader #path26,
.logoHeader #path28,
.logoHeader #path30,
.logoHeader #path32,
.logoHeader #path34,
.logoHeader #path36,
.logoHeader #path38,
.logoHeader #path40 {
    fill:#f1419a;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
}


/**
*
* Time Line
*
**/

.timeline {
    list-style: none;
    padding: 20px 0;
    position: relative;
    margin-top: 30px;
}

.timeline:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #e5e5e5;
    left: 50%;
    margin-left: -1px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:after, .timeline>li:before {
    content: " ";
    display: table;
}

.timeline>li>.timeline-badge.danger {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(244,67,54,.4);
}

.timeline>li>.timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 51px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -24px;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline>li>.timeline-badge [class*=" ti-"], 
.timeline>li>.timeline-badge [class=material-icons], 
.timeline>li>.timeline-badge [class^=ti-] {
    line-height: inherit;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    background-color: #fff;
}

.timeline>li>.timeline-panel {
    width: 45%;
    float: left;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    border-radius: 6px;
    color: rgba(0,0,0,.87);
    background: #fff;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:after, .timeline>li:before {
    content: " ";
    display: table;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #e4e4e4;
    border-right: 0 solid #e4e4e4;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline-heading {
    margin-bottom: 15px;
}

.timeline-body .btn, .timeline-body>p, .timeline-body>ul {
    margin-bottom: 0;
}

.timeline h6 {
    color: #333;
    font-weight: 400;
    margin: 10px 0 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li:after {
    clear: both;
}

.timeline>li:after, .timeline>li:before {
    content: " ";
    display: table;
}

.timeline>li>.timeline-badge.success {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(76,175,80,.4);
}

.timeline>li>.timeline-badge.info {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0,188,212,.4);
    padding: 0;
}

.timeline>li>.timeline-badge.warning {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
}

/**
*
* Badge
*
**/

.badge.badge-danger {
    background-color: #f44336;
}

.badge.badge-success {
    background-color: #4caf50;
}

.badge.badge-info {
    background-color: #00bcd4;
}

.badge.badge-warning {
    background-color: #ff9800;
}

.badge {
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    display: inline-block;
    white-space: normal;
}
.badge-danger {
    color: #fff;
    background-color: #f44336;
}
.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}
.badge {
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.card.mt-minus-20 {
    margin-top: -5rem;
}

.card.overviewEntryRow  {
    position: absolute;
    top: 17.2rem;
    left: 22.5rem;
    width: 15.3rem;
}

.card.overviewEntryRow2 {
    position: absolute;
    top: 10.5rem;
    left: 22.5rem;
    width: 15.3rem;
}

.descriptionAverages {
    color: #5d7079;
    -webkit-transition: .2s;
    transition: .2s;
    line-height: 1.5;
}

.overviewHeading {
    color: #2e4369;
    letter-spacing: 0;
    clear: both;
    overflow: hidden;
    white-space: nowrap;
}

.fs-decrease {
    font-size: 0.8rem;
}

.networthImage .icon, .expenseImage .icon {
    width: 32px;
    height: 32px;
    background-color: #47a44b;
    border-radius: 50%;
    -ms-flex-pack: center;
    justify-content: center;
}

.expenseImage .icon {
    background-color: #f44336; 
}

.networthImage .icon .material-icons, 
.expenseImage .icon .material-icons {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7;
}

.iphone-illustration {
    position:relative;
    margin:0 auto;
    width: 240px;
    height: 481px;
    background-image:url(../../../img/home-page/iphone-xi.svg);
    z-index:3
}

/**
*
* Chartist
*
**/

.ct-series path {
    fill: transparent;
}

.ct-chart .ct-slice-donut, .ct-chart .ct-series {
    -webkit-transition: stroke-width .3s ease-in;
    transition: stroke-width .3s ease-in;
}


.ct-chart .ct-series-a .ct-point,.ct-chart .ct-series-a .ct-line,.ct-chart .ct-series-a .ct-bar,.ct-chart .ct-series-a .ct-slice-donut,.ct-chart .ct-series-a .ct-slice-pie,.ct-chart .ct-series-a .ct-slice-donut-solid,.ct-chart .ct-series-a .ct-area {
    stroke: #00bcd4
}

.ct-chart .ct-series-b .ct-point,.ct-chart .ct-series-b .ct-line,.ct-chart .ct-series-b .ct-bar,.ct-chart .ct-series-b .ct-slice-donut,.ct-chart .ct-series-b .ct-slice-pie,.ct-chart .ct-series-b .ct-slice-donut-solid,.ct-chart .ct-series-b .ct-area {
    stroke: #f44336
}

.ct-chart .ct-series-c .ct-point,.ct-chart .ct-series-c .ct-line,.ct-chart .ct-series-c .ct-bar,.ct-chart .ct-series-c .ct-slice-donut,.ct-chart .ct-series-c .ct-slice-pie,.ct-chart .ct-series-c .ct-slice-donut-solid,.ct-chart .ct-series-c .ct-area {
    stroke: #ff9800
}

.ct-chart .ct-series-d .ct-point,.ct-chart .ct-series-d .ct-line,.ct-chart .ct-series-d .ct-bar,.ct-chart .ct-series-d .ct-slice-donut,.ct-chart .ct-series-d .ct-slice-pie,.ct-chart .ct-series-d .ct-slice-donut-solid,.ct-chart .ct-series-d .ct-area {
    stroke: #795548
}

.ct-chart .ct-series-e .ct-point,.ct-chart .ct-series-e .ct-line,.ct-chart .ct-series-e .ct-bar,.ct-chart .ct-series-e .ct-slice-donut,.ct-chart .ct-series-e .ct-slice-pie,.ct-chart .ct-series-e .ct-slice-donut-solid,.ct-chart .ct-series-e .ct-area {
    stroke: #cddc39
}

.ct-chart .ct-series-f .ct-point,.ct-chart .ct-series-f .ct-line,.ct-chart .ct-series-f .ct-bar,.ct-chart .ct-series-f .ct-slice-donut,.ct-chart .ct-series-f .ct-slice-pie,.ct-chart .ct-series-f .ct-slice-donut-solid,.ct-chart .ct-series-f .ct-area {
    stroke: #e91e63
}

.ct-chart .ct-series-g .ct-point,.ct-chart .ct-series-g .ct-line,.ct-chart .ct-series-g .ct-bar,.ct-chart .ct-series-g .ct-slice-donut,.ct-chart .ct-series-g .ct-slice-pie,.ct-chart .ct-series-g .ct-slice-donut-solid,.ct-chart .ct-series-g .ct-area {
    stroke: #004c8c
}

.ct-chart .ct-series-h .ct-point,.ct-chart .ct-series-h .ct-line,.ct-chart .ct-series-h .ct-bar,.ct-chart .ct-series-h .ct-slice-donut,.ct-chart .ct-series-h .ct-slice-pie,.ct-chart .ct-series-h .ct-slice-donut-solid,.ct-chart .ct-series-h .ct-area {
    stroke: #03a9f4
}

.ct-chart .ct-series-i .ct-point,.ct-chart .ct-series-i .ct-line,.ct-chart .ct-series-i .ct-bar,.ct-chart .ct-series-i .ct-slice-donut,.ct-chart .ct-series-i .ct-slice-pie,.ct-chart .ct-series-i .ct-slice-donut-solid,.ct-chart .ct-series-i .ct-area {
    stroke: #8bc34a
}

.ct-chart .ct-series-j .ct-point,.ct-chart .ct-series-j .ct-line,.ct-chart .ct-series-j .ct-bar,.ct-chart .ct-series-j .ct-slice-donut,.ct-chart .ct-series-j .ct-slice-pie,.ct-chart .ct-series-j .ct-slice-donut-solid,.ct-chart .ct-series-j .ct-area {
    stroke: #c62828
}

.ct-chart .ct-series-k .ct-point,.ct-chart .ct-series-k .ct-line,.ct-chart .ct-series-k .ct-bar,.ct-chart .ct-series-k .ct-slice-donut,.ct-chart .ct-series-k .ct-slice-pie,.ct-chart .ct-series-k .ct-slice-donut-solid,.ct-chart .ct-series-k .ct-area {
    stroke: #ad1457
}

.ct-chart .ct-series-l .ct-point,.ct-chart .ct-series-l .ct-line,.ct-chart .ct-series-l .ct-bar,.ct-chart .ct-series-l .ct-slice-donut,.ct-chart .ct-series-l .ct-slice-pie,.ct-chart .ct-series-l .ct-slice-donut-solid,.ct-chart .ct-series-l .ct-area {
    stroke: #2e7d32
}

.ct-chart .ct-series-m .ct-point,.ct-chart .ct-series-m .ct-line,.ct-chart .ct-series-m .ct-bar,.ct-chart .ct-series-m .ct-slice-donut,.ct-chart .ct-series-m .ct-slice-pie,.ct-chart .ct-series-m .ct-slice-donut-solid,.ct-chart .ct-series-m .ct-area {
    stroke: #d84315
}

.ct-chart .ct-series-n .ct-point,.ct-chart .ct-series-n .ct-line,.ct-chart .ct-series-n .ct-bar,.ct-chart .ct-series-n .ct-slice-donut,.ct-chart .ct-series-n .ct-slice-pie,.ct-chart .ct-series-n .ct-slice-donut-solid,.ct-chart .ct-series-n .ct-area {
    stroke: #004d8d
}

.ct-chart .ct-series-o .ct-point,.ct-chart .ct-series-o .ct-line,.ct-chart .ct-series-o .ct-bar,.ct-chart .ct-series-o .ct-slice-donut,.ct-chart .ct-series-o .ct-slice-pie,.ct-chart .ct-series-o .ct-slice-donut-solid,.ct-chart .ct-series-o .ct-area {
    stroke: #102027
}

.ct-chart .ct-series-p .ct-point,.ct-chart .ct-series-p .ct-line,.ct-chart .ct-series-p .ct-bar,.ct-chart .ct-series-p .ct-slice-donut,.ct-chart .ct-series-p .ct-slice-pie,.ct-chart .ct-series-p .ct-slice-donut-solid,.ct-chart .ct-series-p .ct-area {
    stroke: #c50e29
}

.ct-chart .ct-series-q .ct-point,.ct-chart .ct-series-q .ct-line,.ct-chart .ct-series-q .ct-bar,.ct-chart .ct-series-q .ct-slice-donut,.ct-chart .ct-series-q .ct-slice-pie,.ct-chart .ct-series-q .ct-slice-donut-solid,.ct-chart .ct-series-q .ct-area {
    stroke: #aa00c7
}

.ct-chart .ct-series-r .ct-point,.ct-chart .ct-series-r .ct-line,.ct-chart .ct-series-r .ct-bar,.ct-chart .ct-series-r .ct-slice-donut,.ct-chart .ct-series-r .ct-slice-pie,.ct-chart .ct-series-r .ct-slice-donut-solid,.ct-chart .ct-series-r .ct-area {
    stroke: #448aff
}

.ct-chart .ct-series-s .ct-point,.ct-chart .ct-series-s .ct-line,.ct-chart .ct-series-s .ct-bar,.ct-chart .ct-series-s .ct-slice-donut,.ct-chart .ct-series-s .ct-slice-pie,.ct-chart .ct-series-s .ct-slice-donut-solid,.ct-chart .ct-series-s .ct-area {
    stroke: #7ecb20
}

.ct-chart .ct-series-t .ct-point,.ct-chart .ct-series-t .ct-line,.ct-chart .ct-series-t .ct-bar,.ct-chart .ct-series-t .ct-slice-donut,.ct-chart .ct-series-t .ct-slice-pie,.ct-chart .ct-series-t .ct-slice-donut-solid,.ct-chart .ct-series-t .ct-area {
    stroke: #d50000
}


.ct-slice-donut:hover {
    stroke-opacity: 0.8;
    -webkit-transition: stroke-opacity 0.3s ease-out;
    -moz-transition: stroke-opacity 0.3s ease-out;
    -ms-transition: stroke-opacity 0.3s ease-out;
    -o-transition: stroke-opacity 0.3s ease-out;
    transition: stroke-opacity 0.3s ease-out;
}

.ct-slice-donut {
     -webkit-transition: stroke-opacity 0.3s ease-in;
    -moz-transition: stroke-opacity 0.3s ease-in;
    -ms-transition: stroke-opacity 0.3s ease-in;
    -o-transition: stroke-opacity 0.3s ease-in;
    transition: stroke-opacity 0.3s ease-in;
}

/**
*
* Iphone 11
*
**/
.iphone-illustration .time {
    position: absolute;
    width: 35px;
    top: 1.3rem;
    left: 1.8rem;
    font-size: 9px;
    text-align: left;
    font-weight: 300;
    color: #344554;
    font-family: Open Sans,sans-serif;
}

.iphone-illustration .ct-chart {
    padding-top: 6.8rem;
}

.iphone-illustration .namdAndDescription {
    position: absolute;
    top: 5.2rem;
    left: 3.578rem;;
}

.iphone-illustration .overviewHeading {
    font-size: 0.89rem;
}

.iphone-illustration .averageExpenseAmount {
    font-size: 1rem;
}

.iphone-illustration .battery {
    position: absolute;
    transform: rotate(90deg);
    font-size: 0.87rem;
    top: 1.294rem;
    left: 12.6rem;
}

.iphone-illustration .network {
    position: absolute;
    font-size: 0.54rem;
    top: 1.43rem;
    left: 11.15rem;
}

.iphone-illustration .wifi {
    position: absolute;
    font-size: 0.54rem;
    top: 1.43rem;
    left: 11.85rem;
}

.iphone-illustration .wallet-name {
    position: absolute;
    top: 2.4rem;
    font-size: 0.67rem;
    left: 4.8rem;
    font-weight: 300;
}

.iphone-illustration .search {
    position: absolute;
    font-size: 1rem;
    top: 2.644rem;
    color: #524f4f;
    left: 12.4rem;
}

.iphone-illustration .dashboard{
    position: absolute;
    font-size: 1rem;
    top: 27.144rem;
    color: #524f4f;
    left: 2.16rem;
}

.iphone-illustration .goals {
    position: absolute;
    font-size: 1rem;
    top: 27.144rem;
    color: #524f4f;
    left: 11.96rem;
}

.iphone-illustration .budget {
    position: absolute;
    width: .7rem;
    top: 27.03rem;
    color: #524f4f;
    left: 9.79rem;
}

.iphone-illustration .transactions {
    position: absolute;
    font-size: 0.8rem;
    top: 27.274rem;
    color: #524f4f;
    left: 4.56rem;
}

.iphone-illustration .addIcon {
    position: absolute;
    font-size: 1rem;
    top: 26.144rem;
    color: #524f4f;
    left: 6.56rem;
}

.iphone-illustration .overview-text {
    position: absolute;
    font-size: 0.4rem;
    top: 28.144rem;
    color: #524f4f;
    left: 1.9rem;
}

.iphone-illustration .transactions-text {
    position: absolute;
    font-size: .4rem;
    top: 28.144rem;
    color: #524f4f;
    left: 3.9rem;
}

.iphone-illustration .budget-text {
    position: absolute;
    font-size: 0.4rem;
    top: 28.144rem;
    color: #524f4f;
    left: 9.6rem;
}

.iphone-illustration .goals-text {
    position: absolute;
    font-size: 0.4rem;
    top: 28.144rem;
    color: #524f4f;
    left: 11.98rem;
}

.iphone-illustration .footer-line {
    width: 85.8%;
    position: absolute;
    left: 1.0rem;
    top: 26.38rem;
    border-top: 0.9px solid #f3f1f1;
}

.iphone-illustration .networthImage .icon {
    border: 1px solid #f7f7f7;
}

.iphone-illustration .current-date {
    position: absolute;
    left: 6.3rem;
    font-weight: 300;
    font-size: .43rem;
    top: 3.944rem;
    color: #524f4f;
}

.iphone-illustration .future-date {
    position: absolute;
    left: 11rem;
    font-weight: 300;
    font-size: .43rem;
    top: 3.944rem;
    color: #524f4f;
}

.iphone-illustration .previous-date {
    position: absolute;
    left: 1.9rem;
    font-weight: 300;
    font-size: .43rem;
    top: 3.944rem;
    color: #524f4f;
}

.iphone-illustration div.hr {
    height: 0.9px;
    background: #f3f1f1;
    margin-top: 0.5rem;
}

.iphone-illustration div.hr:after {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 0 0.25rem 0.25rem;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -0.1923rem;
    left:50%;
}

.iphone-illustration div.hr:before {
    content:'';
    position: absolute;
    border-style: solid;
    border-width: 0 0.25rem 0.25rem;
    border-color: #f3f1f1 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -0.25rem;
    left: 50%;
}

.iphone-illustration .hr {
    position: absolute;
    left: 1.05rem;
    top: 4.3rem;
    width: 86%;
}


.iphone-illustration .info {
    position: absolute;
    width: calc(100% - 60px);
    left: 30px;
    top: 17rem;
    height: 10rem;
    overflow: hidden;
}

.iphone-illustration .info .row {
    -ms-flex-align: center!important;
    align-items: center!important
}

.iphone-illustration .info-content {
    width: 100%;
    padding: 0;
    margin: 0;
    top: -10px;
    opacity: 0;
    position: relative;
    transition: all .3s ease;
    transition-delay: .4s
}

.iphone-illustration .info-content:last-child {
    margin-top: -15px;
    transition-delay: .45s
}

.iphone-illustration .info-content div[class^=col] {
    padding: 0;
    margin: 0
}

.iphone-illustration .info-content p {
    font-size: 11px;
    color: #000;
    text-align: left;
    width: 100%;
    line-height: 1.2
}

.iphone-illustration .info-content p span {
    color: #667d89;
    display: block;
    font-size: 10px;
    margin-bottom: 0;
    transition: all .3s ease
}

.iphone-illustration .info-content p.info-content-minus {
    text-align: right;
    color: #fb6666
}

.iphone-illustration .info-content-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: -1.2rem;
    left: 0;
}

.iphone-illustration .info-content-icon svg {
    width: 15px;
    height: 15px;
    margin-top: 6px
}

.iphone-illustration .info-content-icon.bg-1 {
    background: #00bcd4;
}

.iphone-illustration .info-content-icon.bg-2 {
    background: #f44336
}

.iphone-illustration .info-content-icon.bg-3 {
    background: #ff9800
}

.iphone-illustration .info-content-icon.bg-4 {
    background: #795548
}

.iphone-illustration .info .info-content {
    top: 0;
    opacity: 1
}

.iphone-illustration .percentage {
    color: #fff;
    font-size: 0.6rem;
    position: absolute;
    top: 0.36rem;
    left: 0.3rem;
}

.iphone-illustration .info-content.last {
    margin-top: 0.01rem;
}

.row.downloadAppHeader {
    display: none;
}

/**
*
*  Menu Bar Mobile
*
**/
.mobileMenuButton {
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 22px;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}

.mobileMenuBars {
    position: relative;
    width: 22px;
    height: 2px;
    background: 
    #69757a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.mobileMenuButton:hover {
 opacity:0.8
}

.mobileMenuBars {
 position:relative;
 width:22px;
 height:2px;
 background:#69757a;
 -webkit-transition:all 150ms ease-in-out;
 transition:all 150ms ease-in-out
}

.mobileMenuBars::before,
.mobileMenuBars::after {
 content:"";
 position:absolute;
 left:0;
 width:22px;
 height:2px;
 background:#69757a;
 -webkit-transition:all 150ms ease-in-out;
 transition:all 150ms ease-in-out;
 -webkit-transform:none;
 transform:none
}

.mobileMenuBars::before {
 top:-6px
}

.mobileMenuBars::after {
 bottom:-6px
}


.is-open .mobileMenuBars {
    background: transparent;
    -webkit-transition: none;
    transition: none
}

.is-open .mobileMenuBars::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.is-open .mobileMenuBars::after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.is-open .mobileBannerMenu {
    visibility: visible;
    opacity: 1
}

.mobileBannerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    -webkit-transition: 150ms opacity,150ms visibility;
    transition: 150ms opacity,150ms visibility;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mobileBannerMenuNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.mobileBannerMenuNav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    border-bottom: 2px solid #f5f7f8;
    color: #495257;
    line-height: 2.4;
    text-decoration: none;
    -webkit-transition: color 150ms;
    transition: color 150ms
}

.mobileBannerMenuNav a:hover {
    color: #69757a;
    text-decoration: none
}

.mobileBannerMenuSocialNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 32px;
    left: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.mobileBannerMenuSocialNav a {
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms
}

.mobileBannerMenuSocialNav a:hover {
    opacity: 0.8
}

.mobileBannerMenuNav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    border-bottom: 2px solid #f5f7f8;
    color: #495257;
    line-height: 2.4;
    text-decoration: none;
    -webkit-transition: color 150ms;
    transition: color 150ms;
}

.appStoreHover {
    width: 15rem;
}

.appStoreHover:hover {
    opacity: 0.8rem;
}

@media (max-width: 1300px) {

    .descriptionAverages {
        font-size: .7rem;
    }

    .overviewHeading {
        font-size: .9rem;
    }
}

@media (max-width: 576px) {
    .card.overviewEntryRow2, 
    .card.overviewEntryRow {
        top: 5.5rem;
        left: 9rem;
    }

    .my-small-4 {
        margin-bottom: 1.5rem;
    }

    .mt-small-4, 
    .my-small-4 {
        margin-top: 1.5rem;
    }

    .iphone-illustration .ct-chart {
        padding-top: 6.4rem;
    }

    .row.downloadAppHeader{
        display: flex;
    }

    .btn.signUpUnstyledAnchor, 
    .signInSug,
    .layoutSubHeading {
        display: none;
    }

    .iphone-illustration {
        margin-top: 2rem;
    }

    .productHero {
        padding-bottom: 0;
    }

    .headingInProductHero {
        text-align: center;
        font-size: 2.29rem;
    }

    .mobileBannerMenuSocialNav {
        top:50%;
        left: 32px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
}

@media (min-width: 450px) {
    .productHero {
        padding-right: 32px;
        padding-left: 32px;
    }
}

@media (min-width: 768px) {
    .productHero {
        padding: 64px 32px 120px;
    }    
}

@media (min-width: 960px) {
    .productHero {
        padding: 112px 32px 240px;
    }
}

@media (min-width: 992px) {
    .layoutContainer {
        padding: 0px 60px;
    }

    .animated, .text-animation {
        opacity: 0;
    }

    .fadeInUp {
        -webkit-animation: 0.8s ease FadeInUp;
        -moz-animation: 0.8s ease FadeInUp;
        animation: 0.8s ease FadeInUp;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .fadeInRight {
        -webkit-animation: 0.8s ease FadeInRight;
        -moz-animation: 0.8s ease FadeInRight;
        animation: 0.8s ease FadeInRight;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;   
    }

    .fadeInLeft {
        -webkit-animation: 0.8s ease FadeInLeft;
        -moz-animation: 0.8s ease FadeInLeft;
        animation: 0.8s ease FadeInLeft;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;   
    }

    .fadeIn {
        -webkit-animation: 0.8s ease FadeIn;
        -moz-animation: 0.8s ease FadeIn;
        animation: 0.8s ease FadeIn;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;   
    }


    .fadeInDown {
        -webkit-animation: 0.8s ease FadeInDown;
        -moz-animation: 0.8s ease FadeInDown;
        animation: 0.8s ease FadeInDown;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;   
    }


    .w-20-rem, .card.w-20-rem {
        width: 20rem;
    }

    .w-25-rem, .card.w-25-rem {
        width: 25rem;
    }    
}
