@charset "UTF-8";

/*!
 =========================================================
 * Custom CSS - v1.0
 =========================================================
* 
* Author: Nagarjun Nagesh
* 
* All the Custom CSS for EveryRupee gos in here
*/

body {
    transition: all 0.2s ease-out;
}

.expandedNavigationBar {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px 0px;
    height: 64px;
}

.navigationBar {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 64px;
}

.logoHeader {
    color: inherit;
    padding-left: 24px;
    text-decoration: none;
}

.navigationLinksContainer {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navigationLink {
    display: inline-block;
    margin-left: 48px;
    white-space: nowrap;
}

.headingUnstyledAnchor {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: unset;
    text-align: start;
}

.headingLinkName {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: normal;
    color: rgb(4, 13, 20);
    margin: 0px;
    text-decoration: unset;
}

.spacer {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.expandedNavContent {
    padding-right: 1.4rem;
    display: flex;
}

.loginUnstyledAnchor {
    color: inherit;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-sizing: border-box;
    position: static;
    white-space: nowrap;
    cursor: pointer;
    text-align: start;
    text-decoration: none;
    overflow: hidden;
    border-color: rgb(4, 13, 20);
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}

.loginContent {
    position: static;
    visibility: inherit;
}

.loginText {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
    color: rgb(4, 13, 20);
    margin: 0px;
    text-decoration: unset;
}

.signupButtonWrapper {
    margin-left: 30px;
}

.signupContent {
    position: relative;
    visibility: inherit;
}

.signUpText {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
    color: #fff;
    margin: 0px;
    text-decoration: unset;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.navBarWrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1060;
}

.btn.btn-info:hover .signUpText {
    color: #fff;
}

a.text-decoration-none,
.text-decoration-none {
    text-decoration: none;
}

.loginUnstyledAnchor:hover .loginText,
.headingUnstyledAnchor:hover .headingLinkName,
.headingUnstyledAnchor:hover .headingLinkName {
    color: #008697;
}

.article-container h1 ~ ol,
.article-container h1 ~ p,
.article-container h1 ~ ul,
.article-container h2 ~ ol,
.article-container h2 ~ p,
.article-container h2 ~ ul,
.article-container h3 ~ ol,
.article-container h3 ~ p,
.article-container h3 ~ ul,
.article-container h4 ~ ol,
.article-container h4 ~ p,
.article-container h4 ~ ul,
.article-container h5 ~ ol,
.article-container h5 ~ p,
.article-container h5 ~ ul,
.article-container h6 ~ ol,
.article-container h6 ~ p,
.article-container h6 ~ ul,
h1 ~ ol,
h1 ~ p,
h1 ~ ul,
h2 ~ ol,
h2 ~ p,
h2 ~ ul,
h3 ~ ol,
h3 ~ p,
h3 ~ ul,
h4 ~ ol,
h4 ~ p,
h4 ~ ul,
h5 ~ ol,
h5 ~ p,
h5 ~ ul,
h6 ~ ol,
h6 ~ p,
h6 ~ ul {
    margin-top: 1.125rem;
}

.article-container ol,
.article-container p,
.article-container ul,
ol,
p,
ul {
    margin-bottom: 1.5rem;
}

button,
input,
li,
p,
select,
textarea {
    font-size: inherit;
    line-height: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/**
*
* Generic
*
**/
p,
ul,
.article-container p,
.article-container ul,
p,
ul {
    margin-bottom: 1.6875rem;
}

.article-container ol,
.article-container p,
.article-container ul,
ol,
p,
ul {
    margin-bottom: 1.5rem;
}

button,
input,
li,
p,
select,
textarea {
    font-size: inherit;
    line-height: inherit;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    font-size: 100%;
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    vertical-align: baseline;
}

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1.125rem;
    line-height: 1.5;
}

body {
    color: #454545;
}

body,
html {
    font-size: 16px;
    line-height: 1.5;
}

body {
    line-height: 1;
}

.article-container ol ~ h2,
.article-container ol ~ h3,
.article-container ol ~ h4,
.article-container ol ~ h5,
.article-container p ~ h2,
.article-container p ~ h3,
.article-container p ~ h4,
.article-container p ~ h5,
.article-container ul ~ h2,
.article-container ul ~ h3,
.article-container ul ~ h4,
.article-container ul ~ h5,
ol ~ h2,
ol ~ h3,
ol ~ h4,
ol ~ h5,
p ~ h2,
p ~ h3,
p ~ h4,
p ~ h5,
ul ~ h2,
ul ~ h3,
ul ~ h4,
ul ~ h5 {
    margin-bottom: 1.125rem;
    margin-top: 1.75rem;
}

h2,
h3 {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #244564;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.875rem;
}

h2,
h3,
h4,
h5,
h6 {
    color: #244564;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    line-height: normal;
}

h1,
h2,
h3,
h5 {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-style: normal;
}

h5,
h6 {
    font-size: 1rem;
    font-weight: 700;
}

h4,
h6 {
    font-family: KlinicSlab;
    font-style: italic;
    font-weight: 700;
}

.productHero {
    position: relative;
    overflow: hidden;
    padding: 2rem;
}

.Hero {
    background: linear-gradient(145deg, #0c95a7, #e5fafd);
}

.error-container {
    max-width: 1440px;
    padding: 7.77778% 3.47222% 1.355%;
}

/**
*
* Privacy
*
**/


.privacySubHeading {
    font-style: italic !important;
    font-size: 1.625rem;
    color: #25384f;
}

.headingInPrivacyHero {
    color: #25384f;
    font-size: 4.5rem;
    line-height: 4.875rem;
    font-weight: 700;
}

/**
*
* Footer
*
**/

.footerInternal a:-webkit-any-link:hover,
a.color-white:hover {
    text-decoration: underline;
}

.footerInternal nav {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    padding: 16px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.footerInternal header {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.15;
    margin-bottom: 8px;
    color: #495257;
    letter-spacing: 1px;
}


.footerInternal a:-webkit-any-link {
    color: #69757a;
    text-decoration: none;
}

.footerInternal span {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    display: block;
    margin-bottom: 8px;
    white-space: nowrap;
}



.footerContainer,
.step1Feature {
    margin: auto;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footerContainer {
    padding: 16px 16px 128px;
}


.footerInternal,
.step1Image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(25.46296vw + 204.44444px);
    max-width: 510px;
    padding: 64px 0 16px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}


a.button,
a:-webkit-any-link.button {
    display: inline-block;
    min-width: 274px;
    padding: 19px 25px;
    line-height: 1.375em;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    transition: all .28s cubic-bezier(.4, 0, .2, 1);
}

a.button:active,
a.button:focus,
a.button:hover {
    outline: none;
}

.article-container a,
.article-container a:-webkit-any-link {
    color: #009aae;
    font-weight: 900;
    text-decoration: none
}

.article-container a:hover,
.article-container a:-webkit-any-link:hover {
    color: #018798;
    text-decoration: underline;
}

.footerCopyright {
    color: #b6bec2;
    font-size: 14px;
    text-align: left;
    white-space: nowrap;
    padding-left: 24px;
}

.article-container {
    max-width: 1440px;
    padding: 7.77778% 8.47222%;
    padding-top: 7.77778%;
    padding-bottom: 7.77778%;
}

/**
*
*  Menu Bar Mobile
*
**/
.mobileMenuButton {
    cursor: pointer;
    position: relative;
    z-index: 1;
    height: 22px;
    padding: 0;
    border: 0;
    outline: none;
    background: transparent;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
}

.mobileMenuBars {
    position: relative;
    width: 22px;
    height: 2px;
    background:
        #69757a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.mobileMenuButton:hover {
    opacity: 0.8
}

.mobileMenuBars {
    position: relative;
    width: 22px;
    height: 2px;
    background: #69757a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out
}

.mobileMenuBars::before,
.mobileMenuBars::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 2px;
    background: #69757a;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    -webkit-transform: none;
    transform: none
}

.mobileMenuBars::before {
    top: -6px
}

.mobileMenuBars::after {
    bottom: -6px
}


.is-open .mobileMenuBars {
    background: transparent;
    -webkit-transition: none;
    transition: none
}

.is-open .mobileMenuBars::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg)
}

.is-open .mobileMenuBars::after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.is-open .mobileBannerMenu {
    visibility: visible;
    opacity: 1
}

.mobileBannerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    -webkit-transition: 150ms opacity, 150ms visibility;
    transition: 150ms opacity, 150ms visibility;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.mobileBannerMenuNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 220px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.mobileBannerMenuNav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    border-bottom: 2px solid #f5f7f8;
    color: #495257;
    line-height: 2.4;
    text-decoration: none;
    -webkit-transition: color 150ms;
    transition: color 150ms
}

.mobileBannerMenuNav a:hover {
    color: #69757a;
    text-decoration: none
}

.mobileBannerMenuSocialNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 32px;
    left: 50%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.mobileBannerMenuSocialNav a {
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms
}

.mobileBannerMenuSocialNav a:hover {
    opacity: 0.8
}

.mobileBannerMenuNav a {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    border-bottom: 2px solid #f5f7f8;
    color: #495257;
    line-height: 2.4;
    text-decoration: none;
    -webkit-transition: color 150ms;
    transition: color 150ms;
}

.logoHeader #path14,
.logoHeader #path16,
.logoHeader #path18,
.logoHeader #path20,
.logoHeader #path22,
.logoHeader #path42 {
    fill: #43b2c6;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}

.logoHeader #path24,
.logoHeader #path26,
.logoHeader #path28,
.logoHeader #path30,
.logoHeader #path32,
.logoHeader #path34,
.logoHeader #path36,
.logoHeader #path38,
.logoHeader #path40 {
    fill: #f1419a;
    fill-opacity: 1;
    fill-rule: nonzero;
    stroke: none;
}

.article-container .footerInternal a:-webkit-any-link:hover {
    text-decoration: underline;

}

.article-container .footerInternal a:-webkit-any-link {
    color: #69757a;
    text-decoration: none;
    font-weight: 400;
}

/**
*
* Error
*
**/

.Error {
    background: linear-gradient(-145deg, #fff, #e5fafd);
}

.apple-store,
.play-store {
    width: 15rem;
}

.apple-store:hover,
.play-store:hover {
    opacity: 0.8rem;
}

.page-not-found {
    width: 40rem;
}

.errorPageInfo {
    font-style: italic;
    font-size: 1rem;
    color: #25384f;
}

/**
*
* Feature Request
*
**/
.featuresHeading {
    font-family: "Didact Gothic", "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: normal;
    color: #495257;
    margin: 0;
    text-decoration: unset;
}

.submitIdeaText {
    border-color: #bcc4cc;
    height: auto;
    resize: none;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 36px;
    padding: 5px 11px;
    border: 1px solid #d5dde3;
    background-color: #fff;
    font-family: proxima-nova, Arial CE, Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #222426;
    border-radius: 4px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-transition: border-color .15s ease-out, color .15s ease-out, -webkit-box-shadow .15s ease-out;
    transition: border-color .15s ease-out, color .15s ease-out, -webkit-box-shadow .15s ease-out;
    transition: border-color .15s ease-out, box-shadow .15s ease-out, color .15s ease-out;
    transition: border-color .15s ease-out, box-shadow .15s ease-out, color .15s ease-out, -webkit-box-shadow .15s ease-out;
    min-width: 0;
    height: 20rem;
    /* Make the text soft-wrap */
    white-space: pre-wrap;
    word-wrap: break-word;
}

.submitIdeaText::-webkit-input-placeholder {
    /* Edge */
    color: #d8d8d8;
}

.submitIdeaText:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d8d8d8;
}

.submitIdeaText::placeholder {
    color: #d8d8d8;
}

.labelImportant {
    display: block;
    font-weight: 700;
    padding: .3em 0 .1em;
    width: 100%;
    color: #383e41;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.btn.imrt-sup-ftrs {
    color: #fff;
    background: #d5dde3;
    border: 1px solid #d5dde3;
    border-top-color: rgb(213, 221, 227);
    border-right-color: rgb(213, 221, 227);
    border-bottom-color: rgb(213, 221, 227);
    border-left-color: rgb(213, 221, 227);
    display: inline-block;
    vertical-align: top;
    padding: 2px 10px;
    border: 1px solid #bcc4cc;
    background: #bcc4cc;
    font-size: 0.7rem;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -webkit-transition: color .15s ease-out, background .15s ease-out, border-color .15s ease-out;
    transition: color .15s ease-out, background .15s ease-out, border-color .15s ease-out;
    white-space: nowrap;
}

.imrt-sup-ftrs.active,
.imrt-sup-ftrs:hover {
    color: #fff;
    background-color: #00bcd4;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

.imrt-sup-ftrs.importantFR.active,
.imrt-sup-ftrs.importantFR:hover {
    color: #fff;
    background-color: #ff9800;
    border-color: #ff9800;
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
}

.imrt-sup-ftrs.criticalFR.active,
.imrt-sup-ftrs.criticalFR:hover {
    color: #fff;
    background-color: #e91e63;
    border-color: #e91e63;
    box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
}

.suggested-card {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-left: 20px solid transparent;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

.suggested-anchor {
    display: block;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 2px rgba(71, 80, 89, .15);
    box-shadow: 0 1px 2px rgba(71, 80, 89, .15);
    -webkit-transition: -webkit-box-shadow .3s, -webkit-transform .3s;
    transition: -webkit-box-shadow .3s, -webkit-transform .3s;
    transition: box-shadow .3s, transform .3s;
    transition: box-shadow .3s, transform .3s, -webkit-box-shadow .3s, -webkit-transform .3s;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.suggested-anchor p {
    color: #475059;
}

.suggested-heading {
    display: block;
    display: -webkit-box;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-height: 40px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.suggested-anchor:hover .suggested-heading,
.suggested-anchor:focus .suggested-heading {
    color: #00bcd4;
}

.signupContent .material-icons {
    font-size: 1.2rem;
}


/**
* Alexa Page
**/
.alexa-hero {
    background-image: url("/img/alexa/alexa-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 568px;
}

.alexa-hero .echo-show-alexa {
    background-image: url(/img/alexa/alexa-echo.svg);
    background-repeat: no-repeat;
    background-size: 30rem 30rem;
    background-position: top right;
    width: 30rem;
    height: 30rem;
    margin-top: 12rem;
    margin-bottom: 25px;
    text-indent: -999999px;
    margin: 55px auto 0;
}

#enable-your-skill .echo-show-alexa-white {
    background-image: url(/img/alexa/alexa-echo-white.svg);
    background-repeat: no-repeat;
    background-size: 20rem 20rem;
    background-position: top right;
    width: 20rem;
    height: 20rem;
}

.alexa-container {
    position: relative;
    padding: 0;
    width: auto;
    margin-left: 13rem;
    margin-right: 13rem;
}

.alexa-header-container {
    margin: auto 6rem;
}

.ThingsYouCanSay {
    background: #f5f5f5;
}

.GetStarted {
    background: #fff;
}

.GetStarted,
.ThingsYouCanSay,
.ManageSkill,
.GotQuestions {
    padding: 1.5rem;
}

.hero-text-alexa {
    color: #343434;
    font-size: 1.1rem;
}

.alexa-apps .play-store,
.alexa-apps .apple-store {
    width: 10rem;
}

.card.featureIcon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #00aec5;
    font-size: 38px;
    text-shadow: 1px 1px 10px rgba(18, 196, 139, .2);
}

.card.feature-icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #00aec5;
    font-size: 1.15rem;
    text-shadow: 1px 1px 10px rgba(18, 196, 139, .2);
}

#showAccounts {
    fill: #00aec5;
}

.alexa-question {
    height: 8rem;
    position: relative;
}

.card.alexa-question .card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.alexa-question h3 {
    font-size: 1.5rem;
}

.alexa-container .tab-content.tab-space.tab-subcategories {
    height: 28rem;
    overflow: hidden;
}

.nav-pills .nav-item .nav-link.is-checked {
    border-bottom: 1px solid #dcd8db;
    color: #00aec5;
}

.alexa-skill-link {
    cursor: pointer;
}

.GotQuestions {
    position: relative;
    margin: 0 10px;
    padding: 0;
    width: auto;
}

.questions-container > h3 {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0;
    margin: 1.3rem 0;
    display: flex;
    align-items: center;
}

.question-container > label {
    color: #244564;
    font-weight: 700;
    font-size: 1.4rem;
}

@-webkit-keyframes FadeInRight {
    from {
        -webkit-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInRight {
    from {
        -webkit-transform: translate3d(75px, 0, 0);
        transform: translate3d(75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes FadeInLeft {
    from {
        -webkit-transform: translate3d(-75px, 0, 0);
        transform: translate3d(-75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@keyframes FadeInLeft {
    from {
        -webkit-transform: translate3d(-75px, 0, 0);
        transform: translate3d(-75px, 0, 0);
        opacity: 0
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1
    }
}

@-webkit-keyframes FadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes FadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.answer-container {
    max-height: 0;
}

.foldable-section,
.answer-container {
    transition: all 0.2s ease-out;
    overflow: hidden;
}

.alexa-questions,
.questions-section,
.questions-section > span {
    cursor: pointer;
    transition: all 0.5s;
}

.transform180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.btn-outline-alexa {
    color: #343434;
    background-color: transparent;
    background-image: none;
    border-color: #343434;
}

.btn-outline-alexa:hover {
    color: #ddd9d9;
    background-color: #343434;
    border-color: #343434;
}

@media (max-width: 576px) {
    .footerInternal {
        padding-top: 1rem;
    }

    .mobileBannerMenuSocialNav .col-6 .btn-info {
        margin-left: 2rem;
    }

    .headingInPrivacyHero {
        font-size: 4rem;
    }

    .suggested-card {
        border-left: none;
    }
}

@media (min-width: 768px) {

    .alexa-container {
        margin: 0 auto;
        width: 48em;
    }

    .alexa-hero .echo-show-alexa {
        width: 30rem;
        height: 30rem;
        margin-top: 15rem;
        margin-bottom: 25px;
    }

    .footerContainer,
    .step1Feature {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footerContainer {
        padding: 8rem 5rem 2rem;
    }

    .footerOther,
    .step1Text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footerInternal {
        padding: 1rem 1rem;
        margin-right: 5rem;
    }

    .footerInternal nav {
        padding-top: 0;
    }

    h4,
    h5,
    h6 {
        font-size: 1.625rem;
    }

    .GotQuestions {
        margin: 0 auto;
        width: 48em;
    }
}

@media (min-width: 769px) {

    p,
    ul {
        margin-bottom: 1.6875rem;
    }
}

@media (min-width: 992px) {

    .ManageSkill .alexa-container {
        margin-top: 10rem;
    }

    .alexa-container {
        width: 60em;
    }

    .animated,
    .text-animation {
        opacity: 0;
    }

    .fadeInRight {
        -webkit-animation: 0.8s ease FadeInRight;
        -moz-animation: 0.8s ease FadeInRight;
        animation: 0.8s ease FadeInRight;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .fadeInLeft {
        -webkit-animation: 0.8s ease FadeInLeft;
        -moz-animation: 0.8s ease FadeInLeft;
        animation: 0.8s ease FadeInLeft;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .fadeIn {
        -webkit-animation: 0.8s ease FadeIn;
        -moz-animation: 0.8s ease FadeIn;
        animation: 0.8s ease FadeIn;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .GotQuestions {
        width: 60em;
    }
}

@media (min-width: 1200px) {
    .footerContainer {
        max-width: 1200px;
    }
}
